.wf-columns {
  display: flex;

  .wf-column {
    box-sizing: border-box;
    max-width: 100%;
  }
}

.wf-columns-layout-1-2 > .wf-column:last-child, .wf-columns-layout-2-1 > .wf-column:first-child {
  width: calc(100% * 2 / 3.001);
}

.wf-columns-layout-1-1-2 > .wf-column:last-child, .wf-columns-layout-1-2-1 > .wf-column:nth-child(2), .wf-columns-layout-2-1-1 > .wf-column:first-child {
  width: 50%;
}

.wf-columns-layout-1-3 > .wf-column:last-child, .wf-columns-layout-3-1 > .wf-column:first-child {
  width: 75%;
}

@media (max-width: 640px) {
  .wf-columns-stack-small > .wf-column {
    width: 100%;
  }
}

@media (max-width: 960px) {
  .wf-columns-stack-medium > .wf-column {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .wf-columns-stack-large > .wf-column {
    width: 100%;
  }
}

@media (max-width: 1600px) {
  .wf-columns-stack-xlarge > .wf-column {
    width: 100%;
  }
}

[data-wf-columns] > div > figure {
  display: block;
  height: 100%;
  margin: 0;
  position: relative;

  img, video {
    height: calc(100% - 2rem);
  }

  figcaption {
    display: inline-block;
    line-height: 2rem;
    text-align: center;
    width: 100%;
  }
}

@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .wf-columns .wf-column {
    margin-left: .5rem;

    &:first-child {
      margin-left: inherit;
    }

    &:last-child {
      margin-right: inherit;
    }
  }
}

@media (-ms-high-contrast: none) and (max-width: 640px), (-ms-high-contrast: active) and (max-width: 640px) {
  .wf-columns-stack-small > .wf-column {
    margin-left: inherit;
    margin-right: inherit;
    margin-top: .5rem;

    &:first-child {
      margin-top: inherit;
    }
  }
}

@media (-ms-high-contrast: none) and (max-width: 960px), (-ms-high-contrast: active) and (max-width: 960px) {
  .wf-columns-stack-medium > .wf-column {
    margin-left: inherit;
    margin-right: inherit;
    margin-top: .5rem;

    &:first-child {
      margin-top: inherit;
    }
  }
}

@media (-ms-high-contrast: none) and (max-width: 1200px), (-ms-high-contrast: active) and (max-width: 1200px) {
  .wf-columns-stack-large > .wf-column {
    margin-left: inherit;
    margin-right: inherit;
    margin-top: .5rem;

    &:first-child {
      margin-top: inherit;
    }
  }
}

@media (-ms-high-contrast: none) and (max-width: 1600px), (-ms-high-contrast: active) and (max-width: 1600px) {
  .wf-columns-stack-xlarge > .wf-column {
    margin-left: inherit;
    margin-right: inherit;
    margin-top: .5rem;

    &:first-child {
      margin-top: inherit;
    }
  }
}

@supports (-webkit-hyphens: none) {
  .wf-columns .wf-column {
    margin-left: .5rem;

    &:first-child {
      margin-left: inherit;
    }

    &:last-child {
      margin-right: inherit;
    }
  }

  @media (max-width: 640px) {
    .wf-columns-stack-small > .wf-column {
      margin-left: inherit;
      margin-right: inherit;
      margin-top: .5rem;

      &:first-child {
        margin-top: inherit;
      }
    }
  }

  @media (max-width: 960px) {
    .wf-columns-stack-medium > .wf-column {
      margin-left: inherit;
      margin-right: inherit;
      margin-top: .5rem;

      &:first-child {
        margin-top: inherit;
      }
    }
  }

  @media (max-width: 1200px) {
    .wf-columns-stack-large > .wf-column {
      margin-left: inherit;
      margin-right: inherit;
      margin-top: .5rem;

      &:first-child {
        margin-top: inherit;
      }
    }
  }
  @media (max-width: 1600px) {
    .wf-columns-stack-xlarge > .wf-column {
      margin-left: inherit;
      margin-right: inherit;
      margin-top: .5rem;

      &:first-child {
        margin-top: inherit;
      }
    }
  }
}
