.sp-preloader {
  background-color: #fff;
  color: #252525;
}

body {
  background-color: #fff;
  color: #252525;
  font-family: 'Roboto Slab',sans-serif;
}

#offcanvas-toggler > .fa {
  &:active, &:focus, &:hover {
    color: #f2e746;
  }
}

.coming-soon-number, .error-code {
  color: #f2e746;
}

.offcanvas-menu .offcanvas-inner .sp-module ul > li {
  a {
    color: #f2e746;

    &:focus, &:hover {
      color: #f2e746;
    }
  }

  span {
    color: #f2e746;

    &:focus, &:hover {
      color: #f2e746;
    }
  }
}

.sp-megamenu-parent {
  .sp-dropdown li.sp-menu-item {
    &.active > a {
      color: #f2e746;
    }

    > a {
      color: #f2e746;

      &:hover {
        color: #f2e746;
      }
    }
  }

  .sp-mega-group > li > a {
    color: #f2e746;
  }

  > li {
    &.active {
      &:hover > a, > a {
        color: #f2e746;
      }
    }

    &:hover > a {
      color: #f2e746;
    }
  }
}

.sp-module {
  .latestnews > div > a:hover, ul > li > a:hover {
    color: #f2e746;
  }
}

.tags > li a {
  background: rgba(242, 231, 70, 0.1);
  color: #f2e746;
}

a {
  color: #f2e746;

  &:active, &:focus, &:hover {
    color: #f2e746;
  }
}

ul.social-icons > li a:hover {
  color: #f2e746;
}

.article-social-share .social-share-icon ul li a {
  &:focus, &:hover {
    background: #f2e746;
  }
}

.search .btn-toolbar button, .sp-module .tagscloud .tag-name:hover, .sp-page-title, .sp-preloader > div, .tags > li a:hover {
  background: #f2e746;
}

#sp-header, .layout-boxed .body-innerwrapper, .sp-preloader > div:after {
  background: #fff;
}

#sp-top-bar {
  background: #0a0a0a;
  color: #fff;
}

#sp-bottom {
  .sp-module-content .latestnews > li > a > span {
    color: #fff;
  }

  a {
    &:active, &:focus, &:hover {
      color: #fff;
    }
  }
}

#sp-footer a {
  &:active, &:focus, &:hover {
    color: #fff;
  }
}

#sp-top-bar a {
  color: #fff;
}

.tags > li {
  display: inline-block;
}

#offcanvas-toggler > .fa, .article-social-share .social-share-icon ul li a, .pager > li a {
  color: #252525;
}

.pagination > li > {
  a {
    color: #252525;

    &:focus, &:hover {
      color: #252525;
    }
  }

  span {
    color: #252525;

    &:focus, &:hover {
      color: #252525;
    }
  }
}

.sp-megamenu-parent > li > a {
  color: #252525;
}

.sp-module {
  .latestnews > div > a, ul > li > a {
    color: #252525;
  }
}

.pager > li a {
  border: 1px solid #ededed;
}

.sp-megamenu-parent .sp-dropdown .sp-dropdown-inner {
  background: #000;
}

.offcanvas-menu {
  background-color: #000;
  color: #f2e746;

  .offcanvas-inner .sp-module ul > li {
    &.menu-parent > {
      .menu-separator > .menu-toggler, a > .menu-toggler {
        color: rgba(242, 231, 70, 0.5);
      }
    }

    ul li a {
      color: rgba(242, 231, 70, 0.8);
    }
  }
}

.btn-primary {
  background-color: #f2e746;
  border-color: #f2e746;

  &:hover {
    background-color: #f2e746;
    border-color: #f2e746;
  }
}

.pagination > .active > {
  a {
    background-color: #f2e746;
    border-color: #f2e746;

    &:focus, &:hover {
      background-color: #f2e746;
      border-color: #f2e746;
    }
  }

  span {
    background-color: #f2e746;
    border-color: #f2e746;

    &:focus, &:hover {
      background-color: #f2e746;
      border-color: #f2e746;
    }
  }
}

.sppb-btn-primary {
  background-color: #f2e746;
  border-color: #f2e746;

  &:hover {
    background-color: #f2e746;
    border-color: #f2e746;
  }
}

#sp-bottom, #sp-footer {
  background: #171717;
  color: #fff;
}

#sp-bottom a, #sp-footer a {
  color: #a2a2a2;
}

.sp-comingsoon body {
  background-color: #f2e746;
}
