div.contactus-form {
  box-sizing: border-box !important;
  max-width: 370px;
  padding: 0;
}

input {
  &[type=date].contactus-fields, &[type=email].contactus-fields, &[type=tel].contactus-fields, &[type=text].contactus-fields {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-sizing: border-box !important;
    color: #555;
    display: table-cell;
    font-size: 13px;
    height: 40px;
    line-height: 18px;
    margin: 0;
    padding: 4px 6px;
    vertical-align: middle;
    width: 100%;
  }
}

textarea.contactus-textarea {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-sizing: border-box !important;
  color: #555;
  display: table-cell;
  font-size: 13px;
  height: 110px;
  line-height: 18px;
  margin: 0;
  padding: 4px 6px;
  vertical-align: middle;
  width: 100%;
}

form.reg_form {
  margin-bottom: 0;
}

div.contactus-form div.joomly-contactus-div {
  margin-bottom: 15px;
}

.contactus {
  cursor: pointer;
}

.contactus-center {
  margin-left: auto;
  margin-right: auto;
}

.contactus-right {
  margin-left: auto;
  margin-right: 0;
}

.g-recaptcha {
  display: table;
}

div.contactus-form button.contactus-button {
  background-image: none;
  border: 0;
  border-radius: 0;
  box-sizing: border-box !important;
  color: #fff;
  cursor: pointer;
  display: block;
  font-weight: 700;
  height: auto;
  letter-spacing: 1px;
  max-width: 100%;
  padding: 14px 18px;
  text-shadow: none;
  text-transform: uppercase;
  width: auto;

  &:hover {
    opacity: .8;
    outline: 0;
  }
}

input[type=text].contactus-fields.contactus-captcha {
  display: inline-block;
  width: 66.5%;
}

div {
  &.contactus-form {
    img.img-contactus-lightbox {
      display: inline-block;
      margin-right: 3%;
      min-width: 80px;
      vertical-align: bottom;
      width: 30%;
    }

    div.contactus-file {
      box-sizing: border-box !important;
      font-size: 0;
      margin-bottom: 15px;
      max-width: 450px;
      width: 100%;
    }

    label {
      &.contactus-file, &.contactus-file-label {
        box-sizing: border-box !important;
        display: inline-block;
        font-size: 13px;
        line-height: 40px;
        margin: 0;
      }
    }

    span.contactus-file {
      border: 1px solid #ccc;
      border-radius: 0;
      box-sizing: border-box !important;
      display: inline-block;
      height: 40px;
      overflow: hidden;
      padding: 0;
      width: 100%;
    }

    label {
      &.contactus-file {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        color: #fff;
        float: right;
        height: 100%;
        padding: 0;
        text-align: center;
        width: 20%;
      }

      &.contactus-file-label {
        color: #999;
        font-weight: 400;
        height: 100%;
        overflow: hidden;
        padding: 0 0 0 10px;
        vertical-align: middle;
        width: 70%;

        &.contactus-added {
          color: #555;
        }
      }
    }

    input.contactus-file {
      display: none;
      height: 40px;
      margin-bottom: 0;
      width: 0;
    }
  }

  &.contactus-alert {
    background: #fff;
    border-radius: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    display: none;
    padding: 0;
    position: absolute;
    top: -400px;
    z-index: 1000000;
  }
}

.dimmer {
  background: center center no-repeat #000;
  height: 100%;
  left: 0;
  opacity: .5;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999995;
}

div {
  &.contactus-lightbox-caption {
    border-bottom: 1px solid #e0d8d8;
    color: #fff;

    > div {
      display: inline-block;
    }
  }

  &.contactus-lightbox-body {
    background-color: #fff;
    padding: 20px 15px 10px;
  }

  &.contactus-alert-body {
    padding: 20px;
  }

  &.contactus-lightbox-cap {
    margin-left: 10%;
    width: 80%;
  }
}

p.contactus-lightbox-text-center {
  margin: 0;
  text-align: center;
}

div {
  &.contactus-lightbox-cap > h4 {
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
  }

  &.contactus-alert > p {
    font-size: 16px;
    margin: 20px 0 30px;
    text-align: center;
  }

  &.contactus-lightbox-closer {
    width: 10%;

    > i {
      color: #fff;
      cursor: pointer;
      float: right;
      margin-right: 10px;
    }
  }

  &.date-container, &.select-container {
    display: table;
    text-align: left;
    width: 100%;
  }

  &.checkbox-container {
    text-align: left;
  }
}

label {
  &.contactus-date-label, &.contactus-select-label {
    display: table-cell;
    font-weight: 400;
    margin: 0;
    width: 120px;
  }
}

input[type=date].contactus-fields.constructor {
  padding: 10px 6px;
}

span.contactus-sp {
  font-weight: 400;
  margin: 0;
  padding: 0;
}

input[type=checkbox].contactus-fields {
  margin: 0 0 0 10px;
}

label.contactus-checkbox-label {
  font-weight: 400;
  margin: 0;
  text-align: center;
  width: 100%;
}

select.contactus-select {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-sizing: border-box !important;
  color: #555;
  display: table-cell;
  height: 40px;
  margin: 0;
  padding: 6px 4px;
  width: 100%;
}

p.joomly-p {
  text-align: justify;
}
