.clearfix {
  &:after, &:before {
    content: "";
    display: table;
  }
}

.wk-slideshow {
  position: relative;
  visibility: hidden;

  .slides {
    position: relative;
  }
}

.wk-gallery-slider ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wk-slideset {
  .nav, .set {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.wk-slideshow {
  .nav, .slides {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

#lightbox-left-ico, #lightbox-right-ico {
  cursor: pointer;
  height: 50px;
  left: -9999px;
  margin-top: -25px;
  top: 50%;
  width: 50px;
  z-index: 1102;
}

.clearfix:after {
  clear: both;
}

.width20 {
  width: 20%;
}

.width25 {
  width: 25%;
}

.width33 {
  width: 33.333%;
}

.width50 {
  width: 50%;
}

[class*=width] {
  box-sizing: border-box;
}

.spotlight img, .wk-gallery img, .wk-slideshow img, a[data-lightbox] img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.wk-slideset img, .wk-slideshow canvas {
  vertical-align: middle;
}

.wk-slideset img {
  max-width: none !important;
}

.wk-content > a:first-child, .wk-gallery-showcase .wk-slideset .set > li > div > img, .wk-gallery-slider ul li > a, .wk-slideset .set:first-child {
  display: block;
}

.wk-slideshow {
  .nav span, .slides > li > a {
    display: block;
  }
}

.wk-twitter .image img {
  display: block;
}

.wk-twitter-bubbles {
  .author, time {
    display: block;
  }
}

.spotlight .overlay > div > :first-child, .wk-content > :first-child {
  margin-top: 0;
}

.spotlight .overlay > div > :last-child, .wk-content > :last-child {
  margin-bottom: 0;
}

.wk-slideset .set > li, .wk-slideshow .slides > li {
  position: absolute;
}

.mejs-overlay-play, .wk-slideshow .nav li {
  cursor: pointer;
}

.wk-slideset {
  .next, .prev {
    cursor: pointer;
    position: absolute;
    z-index: 5;
  }
}

.wk-slideshow {
  .next, .prev {
    cursor: pointer;
    position: absolute;
    z-index: 5;
  }

  .caption {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: #fff;
    left: 0;
    padding: 10px;
    position: absolute;
    right: 0;
    z-index: 5;
  }
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-handle, .wk-slideshow .captions, :root .mejs-poster img, [data-spotlight] .overlay {
  display: none;
}

.mejs-captions-layer a, .spotlight .overlay a {
  color: #fff;
  text-decoration: underline;
}

.wk-slideshow {
  .caption a {
    color: #fff;
    text-decoration: underline;
  }

  &[data-options*=kenburns] img {
    max-width: none;
    position: relative;
  }
}

.wk-slideset {
  visibility: hidden;
}

.wk-gallery-slider {
  overflow: hidden;
}

.wk-slideset {
  .sets {
    overflow: hidden;
  }

  .set {
    display: none;
    position: relative;
    text-align: center;
    transform-origin: left top;
  }

  .nav span {
    cursor: pointer;
    display: block;
  }
}

.wk-accordion .toggler {
  cursor: pointer;
  margin: 0;
}

.wk-gallery-slider ul li .spotlight, .wk-map img {
  max-width: none;
}

.wk-accordion, .wk-map {
  max-width: 100%;
}

.wk-accordion-default {
  margin-bottom: -10px;

  .toggler {
    background: #f5f5f5;
    background: linear-gradient(to bottom, #fafafa 0, #f5f5f5 100%);
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 1px 0 #fff inset;
    margin-bottom: 10px;
    padding: 7px;
    text-shadow: 0 1px 0 #fff;
  }
}

#lightbox-title-over, .spotlight .overlay > div, .wk-accordion-default .content {
  padding: 10px;
}

.wk-slideshow-inside .nav {
  bottom: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 3;

  li {
    background: #fff;
    box-sizing: border-box;
    float: left;
    padding: 7px 7px 0 0;
  }

  &:hover img {
    opacity: .4;
  }
}

.wk-gallery-showcase .wk-slideset .set > li > div:hover {
  opacity: 1;
}

.wk-gallery-showcasebox .wk-slideset .set > li {
  &.active > div > div > img, &:hover > div > div > img {
    opacity: 1;
  }
}

.wk-slideshow-inside .nav li {
  &:hover img {
    opacity: 1;
  }

  img {
    transition: .3s;
  }
}

.mejs-controls {
  .mejs-captions-button, .mejs-sourcechooser-button, .mejs-volume-button {
    position: relative;
  }
}

.wk-gallery-showcase .slides-container, .wk-slideset-default > div, .wk-slideshow-default > div, .wk-slideshow-inside > div, .wk-slideshow-showcasebuttons .slides-container {
  position: relative;
}

.wk-gallery-showcase .slides-container:hover {
  .next, .prev {
    background: url(../img/widgetkit/buttons.png) 0 50px no-repeat;
    height: 50px;
    margin-top: -25px;
    top: 50%;
    width: 50px;
  }
}

.wk-gallery-showcasebox .slides-container:hover {
  .next, .prev {
    background: url(../img/widgetkit/buttons.png) 0 50px no-repeat;
    height: 50px;
    margin-top: -25px;
    top: 50%;
    width: 50px;
  }
}

.wk-slideset-default > div:hover {
  .next, .prev {
    background: url(../img/widgetkit/buttons.png) 0 50px no-repeat;
    height: 50px;
    margin-top: -25px;
    top: 50%;
    width: 50px;
  }
}

.wk-slideshow-default > div:hover {
  .next, .prev {
    background: url(../img/widgetkit/buttons.png) 0 50px no-repeat;
    height: 50px;
    margin-top: -25px;
    top: 50%;
    width: 50px;
  }
}

.wk-slideshow-inside > div:hover {
  .next, .prev {
    background: url(../img/widgetkit/buttons.png) 0 50px no-repeat;
    height: 50px;
    margin-top: -25px;
    top: 50%;
    width: 50px;
  }
}

.wk-slideshow-showcasebox .slides-container:hover {
  .next, .prev {
    background: url(../img/widgetkit/buttons.png) 0 50px no-repeat;
    height: 50px;
    margin-top: -25px;
    top: 50%;
    width: 50px;
  }
}

.wk-slideshow-showcasebuttons .slides-container:hover {
  .next, .prev {
    background: url(../img/widgetkit/buttons.png) 0 50px no-repeat;
    height: 50px;
    margin-top: -25px;
    top: 50%;
    width: 50px;
  }
}

.wk-gallery-showcase .slides-container:hover .next, .wk-gallery-showcasebox .slides-container:hover .next, .wk-slideset-default > div:hover .next, .wk-slideshow-default > div:hover .next, .wk-slideshow-inside > div:hover .next, .wk-slideshow-screen > div:hover .next, .wk-slideshow-showcasebox .slides-container:hover .next, .wk-slideshow-showcasebuttons .slides-container:hover .next {
  background-position: 0 0;
  right: 30px;
}

.wk-gallery-showcase .slides-container:hover .prev, .wk-gallery-showcasebox .slides-container:hover .prev, .wk-slideset-default > div:hover .prev, .wk-slideshow-default > div:hover .prev, .wk-slideshow-inside > div:hover .prev, .wk-slideshow-showcasebox .slides-container:hover .prev, .wk-slideshow-showcasebuttons .slides-container:hover .prev {
  background-position: 0 -50px;
  left: 30px;
}

.wk-slideshow-inside .caption {
  bottom: auto;
  top: 0;
}

.wk-gallery-showcase .wk-slideset > div, .wk-slideshow-showcasebuttons .wk-slideset > div {
  padding: 0 60px;
  position: relative;
}

.spotlight .overlay.remove-padding > div, .wk-gallery-showcase .wk-slideset.no-buttons > div, .wk-gallery-showcasebox .wk-slideset.no-buttons > div, .wk-slideshow-showcasebox .wk-slideset.no-buttons > div, .wk-slideshow-showcasebuttons .wk-slideset.no-buttons > div {
  padding: 0;
}

.wk-gallery-showcase .wk-slideset {
  .sets {
    padding: 10px 0 3px;
  }

  .set {
    > li > div {
      cursor: pointer;
      margin: 0 3px;
    }

    &:hover > li > div {
      opacity: .4;
      transition: .3s;
    }
  }

  > div {
    .next, .prev {
      background: url(../img/widgetkit/navigation_buttons.png) 0 30px no-repeat;
      height: 30px;
      margin-top: -13px;
      top: 50%;
      width: 30px;
    }

    .next {
      background-position: 0 0;
      right: 25px;
    }
  }
}

.wk-gallery-showcasebox .wk-slideset > div .next, .wk-slideshow-showcasebox .wk-slideset > div .next, .wk-slideshow-showcasebuttons .wk-slideset > div .next {
  background-position: 0 0;
  right: 25px;
}

.wk-gallery-showcase .wk-slideset > div .prev, .wk-slideshow-showcasebox .wk-slideset > div .prev, .wk-slideshow-showcasebuttons .wk-slideset > div .prev {
  background-position: 0 -90px;
  left: 25px;
}

.wk-gallery-showcase .wk-slideset > div .next:hover, .wk-slideset-default .nav.icon span:hover, .wk-slideshow-default .nav span:hover, .wk-slideshow-showcasebox .wk-slideset > div .next:hover, .wk-slideshow-showcasebuttons .wk-slideset > div .next:hover {
  background-position: 0 -30px;
}

.wk-gallery-showcase .wk-slideset > div .next:active, .wk-slideshow-showcasebox .wk-slideset > div .next:active, .wk-slideshow-showcasebuttons .wk-slideset > div .next:active {
  background-position: 0 -60px;
}

.wk-gallery-showcase .wk-slideset > div .prev:hover, .wk-slideshow-showcasebox .wk-slideset > div .prev:hover, .wk-slideshow-showcasebuttons .wk-slideset > div .prev:hover {
  background-position: 0 -120px;
}

.wk-gallery-showcase .wk-slideset > div .prev:active, .wk-slideshow-showcasebox .wk-slideset > div .prev:active, .wk-slideshow-showcasebuttons .wk-slideset > div .prev:active {
  background-position: 0 -150px;
}

.wk-gallery-showcasebox {
  .slides-container {
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    position: relative;
  }

  .wk-slideset {
    > div {
      background: #555;
      background: -moz-linear-gradient(top, #444 0, #555 7%, #444 100%);
      background: -webkit-linear-gradient(top, #444 0, #555 7%, #444 100%);
      background: -o-linear-gradient(top, #444 0, #555 7%, #444 100%);
      background: linear-gradient(to bottom, #444 0, #555 7%, #444 100%);
      border: 1px solid #222;
      border-radius: 0 0 5px 5px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5) inset, 0 0 50px rgba(0, 0, 0, 0.2) inset;
      padding: 0 60px;
      position: relative;
    }

    .sets {
      padding: 15px 0;
    }
  }
}

.wk-slideshow-showcasebox .wk-slideset .sets {
  padding: 15px 0;
}

.wk-gallery-showcasebox .wk-slideset {
  .set > li {
    > div {
      background: #333;
      background: -moz-linear-gradient(top, #333 80%, #222 100%);
      background: -webkit-linear-gradient(top, #333 80%, #222 100%);
      background: -o-linear-gradient(top, #333 80%, #222 100%);
      background: linear-gradient(to bottom, #333 80%, #222 100%);
      border-radius: 5px;
      cursor: pointer;
      margin: 0 3px;
      padding: 1px;

      > div {
        background: #444;
        border-radius: 5px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
        padding: 5px;

        > img {
          border-radius: 2px;
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
          display: block;
          opacity: .8;
        }
      }
    }

    &:hover > div {
      background: #333;
      background: -moz-linear-gradient(top, #333, #222);
      background: -webkit-linear-gradient(top, #333, #222);
      background: -o-linear-gradient(top, #333, #222);
      background: linear-gradient(to bottom, #333, #222);
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);

      > div {
        background: #666;
        background: -moz-linear-gradient(top, #666, #555);
        background: -webkit-linear-gradient(top, #666, #555);
        background: -o-linear-gradient(top, #666, #555);
        background: linear-gradient(to bottom, #666, #555);
      }
    }

    &.active > div {
      background: #222;
      background: -moz-linear-gradient(top, #111, #222);
      background: -webkit-linear-gradient(top, #111, #222);
      background: -o-linear-gradient(top, #111, #222);
      background: linear-gradient(to bottom, #111, #222);
      box-shadow: 0 0 1px rgba(255, 255, 255, 0.2);

      > div {
        background: #444;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7) inset;
      }
    }
  }

  > div {
    .next, .prev {
      background: url(../img/widgetkit/navigation_buttons.png) no-repeat;
      height: 32px;
      margin-top: -16px;
      top: 50%;
      width: 30px;
    }
  }
}

.wk-gallery-wall.polaroid > * > div {
  &:after, &:before {
    bottom: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
    content: "";
    height: 20%;
    max-width: 300px;
    position: absolute;
    width: 50%;
    z-index: -1;
  }
}

.wk-gallery-showcasebox .wk-slideset > div {
  .prev {
    background-position: 0 -96px;
    left: 25px;
  }

  .next {
    &:hover {
      background-position: 0 -32px;
    }

    &:active {
      background-position: 0 -64px;
    }
  }

  .prev {
    &:hover {
      background-position: 0 -128px;
    }

    &:active {
      background-position: 0 -160px;
    }
  }
}

.wk-gallery-slider ul li {
  float: left;
  overflow: hidden;
}

.wk-gallery-wall {
  > * {
    display: block;
    float: left;
  }

  &.margin {
    margin: 0 -15px -15px 0;

    > * {
      margin: 0 15px 15px 0;
    }
  }

  &.round {
    .spotlight {
      > img + div {
        border-radius: 10px;
        overflow: hidden;
      }

      &[data-spotlight*=top] .overlay {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      &[data-spotlight*=bottom] .overlay {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }

    > * {
      border-radius: 10px;
      overflow: hidden;

      > img {
        border-radius: 10px;
        overflow: hidden;
      }
    }
  }
}

#lightbox-frame, #lightbox-img {
  border: none;
  height: 100%;
  width: 100%;
}

.wk-gallery-wall {
  &.zoom > {
    * {
      transition: .1s ease-out;
    }

    :hover {
      box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.4);
      transform: rotate(0) scale(1.2);
      z-index: 10;
    }
  }

  &.polaroid {
    margin: 30px 0;
    position: relative;
    z-index: 0;

    > * > div {
      background: #fff;
      border: 1px solid #eee;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 10px;
      position: relative;

      &:before {
        left: 10px;
        transform: skew(-15deg) rotate(-6deg);
      }

      &:after {
        left: auto;
        right: 10px;
        transform: skew(15deg) rotate(6deg);
      }
    }

    p.title {
      color: #444;
      margin: 0;
      padding-top: 10px;
      text-align: center;
    }

    > {
      * {
        transform: rotate(-3deg);
        transition: .1s ease-out;
      }

      :nth-child(2n) {
        transform: rotate(3deg) scale(1.05);
      }

      :nth-child(5n) {
        left: -10px;
        position: relative;
        transform: rotate(-4deg) scale(0.9);
      }

      :hover {
        box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.4);
        position: relative;
        transform: rotate(0) scale(1.2);
        z-index: 10;
      }
    }
  }
}

#lightbox-loading {
  cursor: pointer;
  display: none;
  height: 40px;
  left: 50%;
  margin: -20px 0 0 -20px;
  overflow: hidden;
  position: fixed;
  top: 50%;
  width: 40px;
  z-index: 1104;

  div {
    background-image: url(../img/widgetkit/loading.png);
    height: 480px;
    left: 0;
    position: absolute;
    top: 0;
    width: 40px;
  }
}

#lightbox-overlay {
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1100;
}

#lightbox-tmp {
  border: 0;
  display: none;
  margin: 0;
  overflow: auto;
  padding: 0;
}

#lightbox-wrap {
  display: none;
  left: 0;
  outline: 0;
  padding: 20px;
  position: absolute;
  top: 0;
  z-index: 1101;
}

#lightbox-outer {
  background: #fff;
  box-shadow: 0 0 15px #555;
  height: 100%;
  position: relative;
  width: 100%;
}

#lightbox-content {
  border: 0 solid #fff;
  height: 0;
  outline: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 0;
  z-index: 1102;
}

#lightbox-close {
  background: url(../img/widgetkit/close.png) no-repeat;
  cursor: pointer;
  display: none;
  height: 34px;
  position: absolute;
  right: -17px;
  top: -17px;
  width: 34px;
  z-index: 1103;
}

#lightbox-error {
  color: #444;
  font: 12px/20px 'Roboto Slab';
  margin: 0;
  padding: 14px;
}

#lightbox-img {
  line-height: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: top;
}

#lightbox-frame {
  display: block;
}

#lightbox-left, #lightbox-right {
  background: url(../img/widgetkit/blank.gif);
  bottom: 100px;
  cursor: pointer;
  display: none;
  outline: 0;
  position: absolute;
  top: 100px;
  width: 35%;
  z-index: 1102;
}

#lightbox-left {
  left: 0;
}

#lightbox-right {
  right: 0;
}

#lightbox-left-ico {
  background: url(../img/widgetkit/buttons.png) no-repeat;
  display: block;
  position: absolute;
}

#lightbox-right-ico {
  background: url(../img/widgetkit/buttons.png) 0 -50px no-repeat;
  display: block;
  position: absolute;
}

#lightbox-left:hover span {
  left: 30px;
}

#lightbox-right:hover span {
  left: auto;
  right: 30px;
}

#lightbox-title {
  font-size: 12px;
  z-index: 1102;

  &.lightbox-title-float {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 6px;
    bottom: -20px;
    color: #fff;
    font-weight: 700;
    left: 0;
    padding: 5px 10px;
    position: absolute;
  }

  &.lightbox-title-inside {
    background: #fff;
    color: #333;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
  }

  &.lightbox-title-outside {
    color: #fff;
    padding-top: 10px;
  }

  &.lightbox-title-over {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: #fff;
    left: 0;
    position: absolute;
    text-align: center;
  }
}

.spotlight, a[data-lightbox] {
  display: inline-block;
  max-width: 100%;
}

.mejs-container {
  background: #000;
  font-family: 'Roboto Slab',sans-serif;
  position: relative;
  text-align: left;
  text-indent: 0;
  vertical-align: top;
}

.me-plugin {
  height: auto;
  position: absolute;
  width: auto;
}

.mejs-container-fullscreen {
  .mejs-mediaelement, video {
    height: 100%;
    width: 100%;
  }
}

.mejs-mediaelement, .mejs-postroll-layer-content {
  height: 100%;
  width: 100%;
}

.mejs-embed {
  background: #000;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;

  body {
    background: #000;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
  }
}

.mejs-fullscreen {
  overflow: hidden !important;
}

.mejs-container-fullscreen {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}

.mejs-clear {
  clear: both;
}

.mejs-background, .mejs-mediaelement, .mejs-overlay {
  left: 0;
  position: absolute;
  top: 0;
}

.mejs-poster {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  left: 0;
  position: absolute;
  top: 0;

  img {
    border: 0;
    padding: 0;
  }
}

.mejs-overlay-button {
  background: url(../img/widgetkit/bigplay.svg) no-repeat;
  height: 100px;
  left: 50%;
  margin: -50px 0 0 -50px;
  position: absolute;
  top: 50%;
  width: 100px;
}

.no-svg .mejs-overlay-button {
  background-image: url(../img/widgetkit/bigplay.png);
}

.mejs-overlay:hover .mejs-overlay-button {
  background-position: 0 -100px;
}

.mejs-overlay-loading {
  background: rgba(0, 0, 0, 0.9);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(50, 50, 50, 0.9)), to(rgba(0, 0, 0, 0.9)));
  background: -webkit-linear-gradient(top, rgba(50, 50, 50, 0.9), rgba(0, 0, 0, 0.9));
  background: -moz-linear-gradient(top, rgba(50, 50, 50, 0.9), rgba(0, 0, 0, 0.9));
  background: -o-linear-gradient(top, rgba(50, 50, 50, 0.9), rgba(0, 0, 0, 0.9));
  background: -ms-linear-gradient(top, rgba(50, 50, 50, 0.9), rgba(0, 0, 0, 0.9));
  background: linear-gradient(rgba(50, 50, 50, 0.9), rgba(0, 0, 0, 0.9));
  height: 80px;
  left: 50%;
  margin: -40px 0 0 -40px;
  position: absolute;
  top: 50%;
  width: 80px;

  span {
    background: url(../img/widgetkit/loading.gif) 50% 50% no-repeat;
    display: block;
    height: 80px;
    width: 80px;
  }
}

.mejs-container .mejs-controls {
  background: rgba(0, 0, 0, 0.7);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(50, 50, 50, 0.7)), to(rgba(0, 0, 0, 0.7)));
  background: -webkit-linear-gradient(top, rgba(50, 50, 50, 0.7), rgba(0, 0, 0, 0.7));
  background: -moz-linear-gradient(top, rgba(50, 50, 50, 0.7), rgba(0, 0, 0, 0.7));
  background: -o-linear-gradient(top, rgba(50, 50, 50, 0.7), rgba(0, 0, 0, 0.7));
  background: -ms-linear-gradient(top, rgba(50, 50, 50, 0.7), rgba(0, 0, 0, 0.7));
  background: linear-gradient(rgba(50, 50, 50, 0.7), rgba(0, 0, 0, 0.7));
  bottom: 0;
  height: 30px;
  left: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;

  div {
    background-image: none;
    border: 0;
    display: block;
    float: left;
    font-family: 'Roboto Slab',sans-serif;
    font-size: 11px;
    height: 26px;
    line-height: 11px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 26px;
  }
}

.mejs-controls .mejs-button button {
  background: url(../img/widgetkit/controls.svg) no-repeat;
  border: 0;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 16px;
  line-height: 0;
  margin: 7px 5px;
  padding: 0;
  position: absolute;
  text-decoration: none;
  width: 16px;
}

.no-svg .mejs-controls .mejs-button button {
  background-image: url(../img/widgetkit/controls.png);
}

.mejs-controls .mejs-button button:focus {
  outline: #999 dotted 1px;
}

.mejs-container .mejs-controls .mejs-time {
  box-sizing: content-box;
  color: #fff;
  display: block;
  height: 17px;
  overflow: hidden;
  padding: 8px 3px 0;
  text-align: center;
  width: auto;

  span {
    color: #fff;
    display: block;
    float: left;
    font-size: 11px;
    line-height: 12px;
    margin: 1px 2px 0 0;
    width: auto;
  }
}

.mejs-controls {
  .mejs-play button {
    background-position: 0 0;
  }

  .mejs-pause button {
    background-position: 0 -16px;
  }

  .mejs-stop button {
    background-position: -112px 0;
  }

  div.mejs-time-rail {
    direction: ltr;
    padding-top: 5px;
    width: 200px;
  }

  .mejs-time-rail {
    span {
      border-radius: 2px;
      cursor: pointer;
      display: block;
      height: 10px;
      position: absolute;
      width: 180px;
    }

    .mejs-time-total {
      background: rgba(50, 50, 50, 0.8);
      background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(30, 30, 30, 0.8)), to(rgba(60, 60, 60, 0.8)));
      background: -webkit-linear-gradient(top, rgba(30, 30, 30, 0.8), rgba(60, 60, 60, 0.8));
      background: -moz-linear-gradient(top, rgba(30, 30, 30, 0.8), rgba(60, 60, 60, 0.8));
      background: -o-linear-gradient(top, rgba(30, 30, 30, 0.8), rgba(60, 60, 60, 0.8));
      background: -ms-linear-gradient(top, rgba(30, 30, 30, 0.8), rgba(60, 60, 60, 0.8));
      background: linear-gradient(rgba(30, 30, 30, 0.8), rgba(60, 60, 60, 0.8));
      margin: 5px;
    }

    .mejs-time-buffering {
      animation: 2s linear infinite buffering-stripes;
      background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
      background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      background-size: 15px 15px;
      width: 100%;
    }

    .mejs-time-loaded {
      background: rgba(60, 170, 200, 0.8);
      background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(44, 124, 145, 0.8)), to(rgba(78, 183, 212, 0.8)));
      background: -webkit-linear-gradient(top, rgba(44, 124, 145, 0.8), rgba(78, 183, 212, 0.8));
      background: -moz-linear-gradient(top, rgba(44, 124, 145, 0.8), rgba(78, 183, 212, 0.8));
      background: -o-linear-gradient(top, rgba(44, 124, 145, 0.8), rgba(78, 183, 212, 0.8));
      background: -ms-linear-gradient(top, rgba(44, 124, 145, 0.8), rgba(78, 183, 212, 0.8));
      background: linear-gradient(rgba(44, 124, 145, 0.8), rgba(78, 183, 212, 0.8));
      width: 0;
    }

    .mejs-time-current {
      background: rgba(255, 255, 255, 0.8);
      background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.9)), to(rgba(200, 200, 200, 0.8)));
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(200, 200, 200, 0.8));
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(200, 200, 200, 0.8));
      background: -o-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(200, 200, 200, 0.8));
      background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(200, 200, 200, 0.8));
      background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(200, 200, 200, 0.8));
      width: 0;
    }

    .mejs-time-handle {
      background: #fff;
      border: 2px solid #333;
      border-radius: 5px;
      cursor: pointer;
      display: none;
      margin: 0;
      position: absolute;
      text-align: center;
      top: -2px;
      width: 10px;
    }

    .mejs-time-float {
      background: #eee;
      border: 1px solid #333;
      color: #111;
      display: none;
      height: 17px;
      margin-left: -18px;
      position: absolute;
      text-align: center;
      top: -26px;
      width: 36px;
    }

    .mejs-time-float-current {
      display: block;
      left: 0;
      margin: 2px;
      text-align: center;
      width: 30px;
    }

    .mejs-time-float-corner {
      border: 5px solid #eee;
      border-color: #eee transparent transparent;
      border-radius: 0;
      display: block;
      height: 0;
      left: 13px;
      line-height: 0;
      position: absolute;
      top: 15px;
      width: 0;
    }
  }
}

@-webkit-keyframes buffering-stripes {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 30px 0;
  }
}

@-moz-keyframes buffering-stripes {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 30px 0;
  }
}

@-ms-keyframes buffering-stripes {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 30px 0;
  }
}

@-o-keyframes buffering-stripes {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 30px 0;
  }
}

@keyframes buffering-stripes {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 30px 0;
  }
}

.mejs-long-video .mejs-controls .mejs-time-rail {
  .mejs-time-float {
    width: 48px;
  }

  .mejs-time-float-current {
    width: 44px;
  }

  .mejs-time-float-corner {
    left: 18px;
  }
}

.mejs-controls {
  .mejs-fullscreen-button button {
    background-position: -32px 0;
  }

  .mejs-unfullscreen button {
    background-position: -32px -16px;
  }

  .mejs-mute button {
    background-position: -16px -16px;
  }

  .mejs-unmute button {
    background-position: -16px 0;
  }

  .mejs-volume-button {
    .mejs-volume-slider {
      background: rgba(50, 50, 50, 0.7);
      border-radius: 0;
      display: none;
      height: 115px;
      left: 0;
      margin: 0;
      position: absolute;
      top: -115px;
      width: 25px;
      z-index: 1;
    }

    &:hover {
      border-radius: 0 0 4px 4px;
    }

    .mejs-volume-slider {
      .mejs-volume-total {
        background: rgba(255, 255, 255, 0.5);
        height: 100px;
        left: 11px;
        margin: 0;
        position: absolute;
        top: 8px;
        width: 2px;
      }

      .mejs-volume-current {
        background: rgba(255, 255, 255, 0.9);
        height: 100px;
        left: 11px;
        margin: 0;
        position: absolute;
        top: 8px;
        width: 2px;
      }

      .mejs-volume-handle {
        background: rgba(255, 255, 255, 0.9);
        border-radius: 1px;
        cursor: N-resize;
        height: 6px;
        left: 4px;
        margin: 0;
        position: absolute;
        top: -3px;
        width: 16px;
      }
    }
  }

  div.mejs-horizontal-volume-slider {
    height: 26px;
    position: relative;
    width: 60px;
  }

  .mejs-horizontal-volume-slider {
    .mejs-horizontal-volume-total {
      background: rgba(50, 50, 50, 0.8);
      background: linear-gradient(rgba(30, 30, 30, 0.8), rgba(60, 60, 60, 0.8));
      border-radius: 2px;
      font-size: 1px;
      height: 8px;
      left: 0;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 11px;
      width: 50px;
    }

    .mejs-horizontal-volume-current {
      background: rgba(255, 255, 255, 0.8);
      background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.9)), to(rgba(200, 200, 200, 0.8)));
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(200, 200, 200, 0.8));
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(200, 200, 200, 0.8));
      background: -o-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(200, 200, 200, 0.8));
      background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(200, 200, 200, 0.8));
      background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(200, 200, 200, 0.8));
      border-radius: 2px;
      font-size: 1px;
      height: 8px;
      left: 0;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 11px;
      width: 50px;
    }
  }

  .mejs-captions-button {
    button {
      background-position: -48px 0;
    }

    .mejs-captions-selector {
      background: rgba(50, 50, 50, 0.7);
      border: 1px solid transparent;
      border-radius: 0;
      bottom: 26px;
      height: 100px;
      overflow: hidden;
      padding: 10px 10px 0;
      position: absolute;
      right: -51px;
      visibility: hidden;
      width: 85px;

      ul {
        display: block;
        list-style-type: none !important;
        margin: 0;
        overflow: hidden;
        padding: 0;
      }
    }
  }

  .mejs-sourcechooser-button .mejs-sourcechooser-selector ul, .mejs-speed-button .mejs-speed-selector ul {
    display: block;
    list-style-type: none !important;
    margin: 0;
    overflow: hidden;
    padding: 0;
  }

  .mejs-captions-button .mejs-captions-selector ul li, .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li {
    color: #fff;
    display: block;
    list-style-type: none !important;
    margin: 0 0 6px;
    overflow: hidden;
    padding: 0;
  }

  .mejs-captions-button .mejs-captions-selector ul li input, .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li input {
    clear: both;
    float: left;
    margin: 3px 3px 0 5px;
  }

  .mejs-captions-button {
    .mejs-captions-selector ul li label {
      float: left;
      font-family: 'Roboto Slab',sans-serif;
      font-size: 10px;
      line-height: 15px;
      padding: 4px 0 0;
      width: 55px;
    }

    .mejs-captions-translations {
      font-size: 10px;
      margin: 0 0 5px;
    }
  }
}

.mejs-chapters {
  left: 0;
  position: absolute;
  top: 0;
  width: 10000px;
  z-index: 1;

  .mejs-chapter {
    background: rgba(0, 0, 0, 0.7);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(50, 50, 50, 0.7)), to(rgba(0, 0, 0, 0.7)));
    background: -webkit-linear-gradient(top, rgba(50, 50, 50, 0.7), rgba(0, 0, 0, 0.7));
    background: -moz-linear-gradient(top, rgba(50, 50, 50, 0.7), rgba(0, 0, 0, 0.7));
    background: -o-linear-gradient(top, rgba(50, 50, 50, 0.7), rgba(0, 0, 0, 0.7));
    background: -ms-linear-gradient(top, rgba(50, 50, 50, 0.7), rgba(0, 0, 0, 0.7));
    background: linear-gradient(rgba(50, 50, 50, 0.7), rgba(0, 0, 0, 0.7));
    border: 0;
    float: left;
    overflow: hidden;
    position: absolute;

    .mejs-chapter-block {
      border-bottom: 1px solid #333;
      border-right: 1px solid #333;
      color: #fff;
      cursor: pointer;
      display: block;
      font-size: 11px;
      padding: 5px;
    }

    .mejs-chapter-block-last {
      border-right: none;
    }

    .mejs-chapter-block {
      &:hover {
        background: rgba(102, 102, 102, 0.7);
        background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(102, 102, 102, 0.7)), to(rgba(50, 50, 50, 0.6)));
        background: -webkit-linear-gradient(top, rgba(102, 102, 102, 0.7), rgba(50, 50, 50, 0.6));
        background: -moz-linear-gradient(top, rgba(102, 102, 102, 0.7), rgba(50, 50, 50, 0.6));
        background: -o-linear-gradient(top, rgba(102, 102, 102, 0.7), rgba(50, 50, 50, 0.6));
        background: -ms-linear-gradient(top, rgba(102, 102, 102, 0.7), rgba(50, 50, 50, 0.6));
        background: linear-gradient(rgba(102, 102, 102, 0.7), rgba(50, 50, 50, 0.6));
      }

      .ch-title {
        display: block;
        font-size: 12px;
        font-weight: 700;
        line-height: 12px;
        margin: 0 0 3px;
        white-space: nowrap;
      }

      .ch-timespan {
        display: block;
        font-size: 12px;
        line-height: 12px;
        margin: 3px 0 4px;
        white-space: nowrap;
      }
    }
  }
}

.mejs-captions-layer {
  bottom: 0;
  color: #fff;
  font-size: 16px;
  left: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;

  &[lang=ar] {
    font-size: 20px;
    font-weight: 400;
  }
}

.mejs-captions-position {
  bottom: 15px;
  left: 0;
  position: absolute;
  width: 100%;
}

.mejs-captions-position-hover {
  bottom: 35px;
}

.mejs-captions-text {
  background: rgba(20, 20, 20, 0.5);
  padding: 3px 5px;
  white-space: pre-wrap;
}

.me-cannotplay {
  a {
    color: #fff;
    font-weight: 700;
  }

  span {
    display: block;
    padding: 15px;
  }
}

.mejs-controls {
  .mejs-loop-off button {
    background-position: -64px -16px;
  }

  .mejs-loop-on button {
    background-position: -64px 0;
  }

  .mejs-backlight-off button {
    background-position: -80px -16px;
  }

  .mejs-backlight-on button {
    background-position: -80px 0;
  }

  .mejs-picturecontrols-button {
    background-position: -96px 0;
  }
}

.mejs-contextmenu {
  background: #fff;
  border: 1px solid #999;
  border-radius: 4px;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 0;
  width: 150px;
  z-index: 1001;

  .mejs-contextmenu-separator {
    background: #333;
    font-size: 0;
    height: 1px;
    margin: 5px 6px;
  }

  .mejs-contextmenu-item {
    color: #333;
    cursor: pointer;
    font-family: 'Roboto Slab',sans-serif;
    font-size: 12px;
    padding: 4px 6px;

    &:hover {
      background: #2c7c91;
      color: #fff;
    }
  }
}

.mejs-controls .mejs-sourcechooser-button {
  button {
    background-position: -128px 0;
  }

  .mejs-sourcechooser-selector {
    background: rgba(50, 50, 50, 0.7);
    border: 1px solid transparent;
    border-radius: 0;
    bottom: 26px;
    height: 100px;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    right: -10px;
    visibility: hidden;
    width: 130px;

    ul li label {
      float: left;
      font-family: 'Roboto Slab',sans-serif;
      font-size: 10px;
      line-height: 15px;
      padding: 4px 0 0;
      width: 100px;
    }
  }
}

.mejs-postroll-layer {
  background: rgba(50, 50, 50, 0.7);
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.mejs-postroll-close {
  background: rgba(50, 50, 50, 0.7);
  color: #fff;
  cursor: pointer;
  padding: 4px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}

div.mejs-speed-button {
  position: relative;
  width: 46px !important;
}

.mejs-controls {
  .mejs-button.mejs-speed-button button {
    background: 0 0;
    color: #fff;
    font-size: 11px;
    line-height: normal;
    width: 36px;
  }

  .mejs-speed-button {
    .mejs-speed-selector {
      background: rgba(50, 50, 50, 0.7);
      border: 1px solid transparent;
      border-radius: 0;
      height: 100px;
      left: -10px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      top: -100px;
      visibility: hidden;
      width: 60px;
    }

    &:hover > .mejs-speed-selector {
      visibility: visible;
    }

    .mejs-speed-selector ul li {
      color: #fff;
      display: block;
      list-style-type: none !important;
      margin: 0 0 6px;
      overflow: hidden;
      padding: 0 10px;

      label.mejs-speed-selected {
        color: #21f8f8;
      }

      input {
        clear: both;
        display: none;
        float: left;
        margin: 3px 3px 0 5px;
      }

      label {
        color: #fff;
        cursor: pointer;
        float: left;
        font-family: 'Roboto Slab',sans-serif;
        font-size: 11.5px;
        line-height: 15px;
        margin-left: 5px;
        padding: 4px 0 0;
        width: 60px;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.4) !important;
      }
    }
  }
}

.wk-slideset-default .nav {
  margin-top: 10px;
  text-align: center;

  li {
    display: inline-block;
  }

  &.icon li {
    margin-left: 5px;
  }

  &.text li {
    margin-left: 40px;
  }

  li:first-child {
    margin-left: 0;
  }
}

.wk-slideshow-default .nav li:first-child, .wk-slideshow-screen .nav li:first-child, .wk-slideshow-tabs .nav li:first-child {
  margin-left: 0;
}

.wk-slideset-default .nav.icon span, .wk-slideshow-default .nav span {
  background: url(../img/widgetkit/nav.png) no-repeat;
  height: 15px;
  overflow: hidden;
  width: 16px;
}

.wk-slideset-default .nav.icon span:active, .wk-slideshow-default .nav span:active {
  background-position: 0 -45px;
}

.wk-slideset-default .nav.icon .active span, .wk-slideshow-default .nav .active span {
  background-position: 0 -15px;
}

.wk-slideset-default {
  .nav.text {
    span {
      padding: 0 11px;
    }

    .active span {
      background: rgba(0, 0, 0, 0.05);
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      padding: 0 10px;
    }
  }

  .sets {
    margin: 0 -10px;
  }
}

.wk-slideshow-default .nav, .wk-slideshow-screen .nav {
  margin-top: 15px;
  text-align: center;
}

.wk-slideset-default article {
  margin: 0 10px;

  + strong.title {
    font-weight: 400;
  }
}

.wk-slideshow-default .nav li, .wk-slideshow-screen .nav li {
  display: inline-block;
  margin-left: 5px;
}

.wk-slideshow-list > div, .wk-slideshow-tabs .slides-container {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.wk-slideshow-list {
  .nav {
    background: #f5f5f5;
    background: -moz-linear-gradient(left, #fdfdfd 97%, #f0f0f0 100%);
    background: -webkit-linear-gradient(left, #fdfdfd 97%, #f0f0f0 100%);
    background: -o-linear-gradient(left, #fdfdfd 97%, #f0f0f0 100%);
    background: linear-gradient(to right, #fdfdfd 97%, #f0f0f0 100%);
    border-radius: 5px 0 0 5px;
    border-right: 1px solid #ddd;
    border-top: 1px solid #fff;
    bottom: 1px;
    position: absolute;
    top: 1px;
    width: 200px;

    li {
      margin-right: -1px;
      padding: 1px 0;
    }

    span {
      overflow: hidden;
      padding: 10px 15px 8px;
    }

    li.active {
      background: #fff;
      border-bottom: 1px solid #ddd;
      border-top: 1px solid #ddd;
      padding: 0;

      &:first-child {
        border-radius: 5px 0 0;
        border-top: none;
        padding-top: 1px;
      }
    }
  }

  .slides-container {
    margin-left: 200px;
  }

  .slides > li > article {
    padding: 20px;
  }
}

.wk-slideshow-showcasebox .slides > li > article {
  padding: 20px;
}

.wk-slideshow-list {
  .nav-100 {
    width: 100px;

    + .slides-container {
      margin-left: 100px;
    }
  }

  .nav-150 {
    width: 150px;

    + .slides-container {
      margin-left: 150px;
    }
  }

  .nav-250 {
    width: 250px;

    + .slides-container {
      margin-left: 250px;
    }
  }
}

.wk-slideshow-screen {
  > div {
    background: #000;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    position: relative;

    &:before {
      background: url(../img/widgetkit/shadow.png) 0 0 / 100% 100% no-repeat;
      bottom: -40px;
      content: "";
      height: 76px;
      left: -10px;
      position: absolute;
      right: -10px;
    }
  }

  .caption {
    bottom: 15px;
    left: 15px;
    right: 15px;
  }

  .nav {
    position: relative;

    span {
      background: url(../img/widgetkit/nav.png) no-repeat;
      height: 13px;
      overflow: hidden;
      width: 13px;

      &:hover {
        background-position: 0 -26px;
      }

      &:active {
        background-position: 0 -39px;
      }
    }

    .active span {
      background-position: 0 -13px;
    }
  }

  > div:hover {
    .next {
      background: url(../img/widgetkit/buttons.png) 0 40px no-repeat;
      height: 40px;
      margin-top: -20px;
      top: 50%;
      width: 40px;
    }

    .prev {
      background: url(../img/widgetkit/buttons.png) 0 40px no-repeat;
      background-position: 0 -40px;
      height: 40px;
      left: 30px;
      margin-top: -20px;
      top: 50%;
      width: 40px;
    }
  }
}

.wk-slideshow-showcasebox {
  .slides-container {
    background: #fff;
    border: 1px solid #ddd;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    position: relative;
  }

  .wk-slideset {
    > div {
      background: #f5f5f5;
      background: -moz-linear-gradient(top, #f0f0f0 0, #fdfdfd 7%);
      background: -webkit-linear-gradient(top, #f0f0f0 0, #fdfdfd 7%);
      background: -o-linear-gradient(top, #f0f0f0 0, #fdfdfd 7%);
      background: linear-gradient(to bottom, #f0f0f0 0, #fdfdfd 7%);
      border: 1px solid #ddd;
      border-radius: 0 0 5px 5px;
      padding: 0 60px;
      position: relative;
    }

    .set > li > div {
      background: #ddd;
      border-radius: 5px;
      cursor: pointer;
      margin: 0 5px;
      padding: 1px;
    }
  }
}

.wk-slideshow-showcasebuttons .wk-slideset .set > li > div {
  background: #ddd;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
  padding: 1px;
}

.wk-slideshow-showcasebox .wk-slideset .set > li > div > div, .wk-slideshow-showcasebuttons .wk-slideset .set > li > div > div {
  background: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 1px 0 #fff inset;
  padding: 7px;
  text-align: left;
  text-shadow: 0 1px 0 #fff;
  white-space: nowrap;
}

.wk-slideshow-tabs .nav li, .wk-slideshow-tabsbar .nav-container {
  background: #f5f5f5;
  border: 1px solid #ddd;
  box-shadow: 0 1px 0 #fff inset;
  text-shadow: 0 1px 0 #fff;
}

.wk-slideshow-showcasebox .wk-slideset .set > li > div:hover, .wk-slideshow-showcasebuttons .wk-slideset .set > li > div:hover {
  background: #ccc;
  background: -moz-linear-gradient(top, #ddd, #bbb);
  background: -webkit-linear-gradient(top, #ddd, #bbb);
  background: -o-linear-gradient(top, #ddd, #bbb);
  background: linear-gradient(to bottom, #ddd, #bbb);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.wk-slideshow-showcasebox .wk-slideset .set > li > div:hover > div, .wk-slideshow-showcasebuttons .wk-slideset .set > li > div:hover > div {
  background: #fff;
  background: -moz-linear-gradient(top, #fff, #ebebeb);
  background: -webkit-linear-gradient(top, #fff, #ebebeb);
  background: -o-linear-gradient(top, #fff, #ebebeb);
  background: linear-gradient(to bottom, #fff, #ebebeb);
}

.wk-slideshow-showcasebox .wk-slideset .set > li.active > div, .wk-slideshow-showcasebuttons .wk-slideset .set > li.active > div {
  background: #bbb;
  box-shadow: none;
}

.wk-slideshow-showcasebox .wk-slideset .set > li.active > div > div, .wk-slideshow-showcasebuttons .wk-slideset .set > li.active > div > div {
  background: #e6e6e6;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
}

.wk-slideshow-showcasebox .wk-slideset > div {
  .next, .prev {
    background: url(../img/widgetkit/navigation_buttons.png) no-repeat;
    height: 30px;
    margin-top: -15px;
    top: 50%;
    width: 30px;
  }
}

.wk-slideshow-showcasebuttons .wk-slideset {
  .sets {
    padding-top: 15px;
  }

  > div {
    .next, .prev {
      background: url(../img/widgetkit/navigation_buttons.png) no-repeat;
      height: 30px;
      margin-top: -8px;
      top: 50%;
      width: 30px;
    }
  }
}

@media (max-device-width: 1024px) {
  .wk-gallery-showcase .slides-container {
    .next, .prev {
      display: none;
    }
  }

  .wk-gallery-showcasebox .slides-container {
    .next, .prev {
      display: none;
    }
  }

  .wk-slideset-default {
    .next, .prev {
      display: none;
    }
  }

  .wk-slideshow-default {
    .next, .prev {
      display: none;
    }
  }

  .wk-slideshow-inside {
    .next, .prev {
      display: none;
    }
  }

  .wk-slideshow-screen {
    .next, .prev {
      display: none;
    }
  }

  .wk-slideshow-showcasebox .slides-container {
    .next, .prev {
      display: none;
    }
  }

  .wk-slideshow-showcasebuttons .slides-container {
    .next, .prev {
      display: none;
    }
  }
}

.wk-slideshow-tabs .nav {
  float: left;

  li, span {
    float: left;
  }
}

.wk-slideshow-tabsbar .nav {
  float: left;

  li, span {
    float: left;
  }
}

.wk-twitter-bubbles > article {
  float: left;
}

.wk-slideshow-tabs .nav {
  li {
    background: -moz-linear-gradient(top, #fafafa, #f5f5f5);
    background: -webkit-linear-gradient(top, #fafafa, #f5f5f5);
    background: -o-linear-gradient(top, #fafafa, #f5f5f5);
    background: linear-gradient(to bottom, #fafafa, #f5f5f5);
    border-radius: 5px 5px 0 0;
    margin: 0 0 -1px 5px;
  }

  span {
    overflow: hidden;
    padding: 7px 15px 5px;
  }

  li:hover {
    background: #f0f0f0;
  }
}

.wk-slideshow-tabsbar .nav li:hover {
  background: #f0f0f0;
}

.wk-slideshow-tabs .nav li:active:not([class*=active]) span, .wk-slideshow-tabsbar .nav li:active:not([class*=active]) span {
  padding-bottom: 4px;
  padding-top: 8px;
}

.wk-slideshow-tabs {
  .nav li.active {
    background: #fff;
    border-bottom: none;
    padding-bottom: 1px;
  }

  .slides > li > article {
    padding: 15px;
  }
}

.wk-slideshow-tabsbar .slides > li > article {
  padding: 15px;
}

.wk-slideshow-tabs {
  .nav-left + .slides-container {
    border-top-left-radius: 0;
  }

  .nav-center .nav {
    left: 50%;
    position: relative;
  }
}

.wk-slideshow-tabsbar .nav-center .nav {
  left: 50%;
  position: relative;
}

.wk-slideshow-tabs .nav-center .nav li, .wk-slideshow-tabsbar .nav-center .nav li {
  left: -50%;
  position: relative;
}

.wk-slideshow-tabs .nav-right .nav, .wk-slideshow-tabsbar .nav-right .nav {
  float: right;
}

.wk-slideshow-tabs .nav-right + .slides-container {
  border-top-right-radius: 0;
}

.wk-slideshow-tabsbar {
  .nav-container {
    background: -moz-linear-gradient(top, #fafafa, #f5f5f5);
    background: -webkit-linear-gradient(top, #fafafa, #f5f5f5);
    background: -o-linear-gradient(top, #fafafa, #f5f5f5);
    background: linear-gradient(to bottom, #fafafa, #f5f5f5);
    border-radius: 5px 5px 0 0;
  }

  .nav {
    li {
      border-right: 1px solid #ddd;
      margin-bottom: -1px;
    }

    span {
      border-right: 1px solid #fff;
      margin-right: -2px;
      overflow: hidden;
      padding: 7px 17px 5px 15px;
    }

    li {
      &:active:not([class*=active]) {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
      }

      &.active {
        background: #fff;
        padding-bottom: 1px;
      }
    }
  }

  .slides-container {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 0 0 5px 5px;
    border-top: none;
  }

  .nav-left li {
    &.active:first-child, &:active:first-child, &:hover:first-child {
      border-top-left-radius: 5px;
    }
  }

  .nav-center .nav li:first-child {
    border-left: 1px solid #ddd;

    span {
      border-left: 1px solid #fff;
    }
  }

  .nav-right {
    li {
      border-left: 1px solid #ddd;
      border-right: none;
    }

    span {
      border-left: 1px solid #fff;
      border-right: none;
    }

    li {
      &.active:last-child, &:active:last-child, &:hover:last-child {
        border-top-right-radius: 5px;
      }
    }
  }
}

.spotlight {
  .overlay-default {
    background: url(../img/widgetkit/magnifier.png) 50% 50% no-repeat rgba(0, 0, 0, 0.5);
  }

  .overlay {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    visibility: hidden;
  }
}

.wk-twitter .image {
  border: 1px solid #ddd;
  display: block;
  float: left;
  padding: 3px;
}

.wk-twitter-list {
  article {
    border-top: 1px solid #ddd;
    margin-top: 5px;
    overflow: hidden;
    padding-top: 5px;

    &:first-child {
      border: none;
      margin: 0;
      padding: 0;
    }
  }

  .image {
    margin: 3px 10px 0 0;
  }

  p {
    margin: 0;
  }

  .meta {
    font-size: 11px;
    font-style: italic;
  }
}

.wk-twitter-single {
  &.image {
    background: url(../img/widgetkit/bird.png) 0 3px no-repeat;
    min-height: 43px;
    padding-left: 70px;
  }

  p {
    font-style: italic;
    margin: 0;
  }

  .content {
    font-family: 'Roboto Slab',sans-serif;
    font-size: 24px;
    line-height: 30px;
  }

  .meta {
    font-size: 11px;
  }
}

@media (max-width: 767px) {
  .wk-gallery-slider ul li .spotlight, .wk-slideshow .caption {
    font-size: 10px;
    line-height: 14px;
  }

  .wk-gallery-showcasebox .wk-slideset > div, .wk-slideshow-showcasebox .wk-slideset > div {
    padding: 0 40px;
  }

  .wk-gallery-showcasebox .wk-slideset > div .next, .wk-slideshow-showcasebox .wk-slideset > div .next {
    right: 5px;
  }

  .wk-gallery-showcasebox .wk-slideset > div .prev, .wk-slideshow-showcasebox .wk-slideset > div .prev {
    left: 5px;
  }

  .wk-slideset-default .nav.text {
    li {
      margin-left: 10px;

      &:first-child {
        margin-left: 0;
      }
    }

    span {
      font-size: 12px;
      padding: 0 6px;
    }

    .active span {
      padding: 0 5px;
    }
  }

  .wk-slideshow-list {
    .nav, .nav-100, .nav-150, .nav-250 {
      width: 80px;
    }

    .nav span {
      font-size: 10px;
      line-height: 14px;
      padding-left: 10px;
      padding-right: 0;
    }

    .nav-100 + .slides-container, .nav-150 + .slides-container, .nav-250 + .slides-container, .slides-container {
      margin-left: 80px;
    }
  }

  .wk-slideshow-tabs .nav span {
    font-size: 10px;
    line-height: 14px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .wk-slideshow-tabsbar .nav span {
    font-size: 10px;
    line-height: 14px;
    padding-left: 10px;
    padding-right: 12px;
  }

  .wk-twitter-single {
    &.image {
      background: 0 0;
      min-height: 0;
      padding-left: 0;
    }

    .content {
      font-size: 20px;
      line-height: 26px;
    }
  }
}

.wk-twitter-bubbles {
  margin: 0 -5px;

  .content {
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    margin: 0 5px;
    padding: 10px;
    position: relative;

    &:after {
      background: url(../img/widgetkit/arrow.png) no-repeat;
      bottom: -11px;
      content: "";
      height: 11px;
      left: 18px;
      position: absolute;
      width: 16px;
    }
  }

  .meta {
    margin: 10px 5px 0;
    overflow: hidden;
  }

  .image {
    display: block;
    float: left;
    margin-right: 10px;
  }

  .author {
    margin-top: 5px;
  }

  time {
    font-size: 11px;
    margin-top: -5px;
  }
}
