body {
  background-color: #fff;
  color: #252525;
}

.sp-preloader {
  background-color: #fff;
  color: #252525;

  > div {
    background: #f2e746;

    &:after {
      background: #fff;
    }
  }
}

#sp-top-bar {
  background: #0a0a0a;
  color: #fff;

  a {
    color: #fff;
  }
}

#sp-header {
  background: #fff;
}

a {
  color: #f2e746;

  &:hover, &:focus, &:active {
    color: #f2e746;
  }
}

.tags > li {
  display: inline-block;

  a {
    background: rgba(242, 231, 70, 0.1);
    color: #f2e746;

    &:hover {
      background: #f2e746;
    }
  }
}

.article-social-share .social-share-icon ul li a {
  color: #252525;

  &:hover, &:focus {
    background: #f2e746;
  }
}

.pager > li a {
  border: 1px solid #ededed;
  color: #252525;
}

.sp-megamenu-parent {
  > li {
    > a {
      color: #252525;
    }

    &:hover > a {
      color: #f2e746;
    }

    &.active {
      > a, &:hover > a {
        color: #f2e746;
      }
    }
  }

  .sp-dropdown {
    .sp-dropdown-inner {
      background: #000;
    }

    li.sp-menu-item {
      > a {
        color: #f2e746;

        &:hover {
          color: #f2e746;
        }
      }

      &.active > a {
        color: #f2e746;
      }
    }
  }

  .sp-mega-group > li > a {
    color: #f2e746;
  }
}

#offcanvas-toggler > .fa {
  color: #252525;

  &:hover, &:focus, &:active {
    color: #f2e746;
  }
}

.offcanvas-menu {
  background-color: #000;
  color: #f2e746;

  .offcanvas-inner .sp-module ul > li {
    a, span, a:hover, span:hover, a:focus, span:focus {
      color: #f2e746;
    }

    &.menu-parent > {
      a > .menu-toggler, .menu-separator > .menu-toggler {
        color: rgba(242, 231, 70, 0.5);
      }
    }

    ul li a {
      color: rgba(242, 231, 70, 0.8);
    }
  }
}

.btn-primary, .sppb-btn-primary, .btn-primary:hover, .sppb-btn-primary:hover {
  border-color: #f2e746;
  background-color: #f2e746;
}

ul.social-icons > li a:hover {
  color: #f2e746;
}

.sp-page-title {
  background: #f2e746;
}

.layout-boxed .body-innerwrapper {
  background: #fff;
}

.sp-module {
  ul > li > a, .latestnews > div > a {
    color: #252525;

    &:hover {
      color: #f2e746;
    }
  }

  .tagscloud .tag-name:hover {
    background: #f2e746;
  }
}

.search .btn-toolbar button {
  background: #f2e746;
}

#sp-footer, #sp-bottom {
  background: #171717;
  color: #fff;
}

#sp-footer a, #sp-bottom a {
  color: #a2a2a2;
}

#sp-footer a:hover, #sp-bottom a:hover, #sp-footer a:active, #sp-bottom a:active, #sp-footer a:focus {
  color: #fff;
}

#sp-bottom {
  a:focus, .sp-module-content .latestnews > li > a > span {
    color: #fff;
  }
}

.sp-comingsoon body {
  background-color: #f2e746;
}

.pagination > {
  li > {
    a, span, a:hover, span:hover, a:focus, span:focus {
      color: #252525;
    }
  }

  .active > {
    a, span, a:hover, span:hover, a:focus, span:focus {
      border-color: #f2e746;
      background-color: #f2e746;
    }
  }
}

.error-code, .coming-soon-number {
  color: #f2e746;
}
