.sp-page-builder .page-content {
  #section-id-1595755039101, #section-id-1603185531988 {
    background-attachment: scroll;
    background-image: url(../img/fon5_pomosh.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 0;
    margin-top: 0;
  }
}

#sppb-addon-1602926758379, #sppb-addon-1603185532001 {
  background-attachment: inherit;
  background-image: url(../img/banerfon.jpg);
  background-size: contain;
  box-shadow: 8px 10px 13px 0 #fff;
  overflow: hidden;
  position: relative;
}

.button-red-action, input.input_button {
  background-image: none;
  box-sizing: border-box !important;
  height: auto;
  letter-spacing: 1px;
  padding: 14px 18px;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  width: 100%;
}

#section-id-1595755039101 .sppb-shape-container.sppb-bottom-shape > svg, #section-id-1603185531988 .sppb-shape-container.sppb-bottom-shape > svg, #vyzvat1 .sppb-shape-container.sppb-top-shape > svg {
  max-width: 100%;
  width: 100%;
}

#section-id-1595776894324 .sppb-shape-container {
  &.sppb-bottom-shape > svg, &.sppb-top-shape > svg {
    max-width: 120%;
    width: 120%;
  }
}

.sp-page-builder .page-content {
  #section-id-1595755039101 {
    padding: 10px 0 150px;

    > .sppb-row-overlay {
      background-color: rgba(16, 16, 16, 0.38);
    }
  }

  #section-id-1603185531988 > .sppb-row-overlay {
    background-color: rgba(16, 16, 16, 0.38);
  }
}

#column-id-1595755039100, #column-id-1595756312043, #column-id-1595756312707, #column-id-1595773731859, #column-id-1595773731862, #column-id-1595773731873, #column-id-1595776894323, #column-id-1595776894338, #column-id-1595858740136, #column-id-1595858740139, #column-id-1595858740141, #column-id-1602918408003, #column-id-1602918408009, #column-id-1602918408045, #column-id-1602920507327, #column-id-1602920507328, #column-id-1602920507330, #column-id-1603185531989, #column-id-1603185531991, #column-id-1603185531993, #column-id-1603185532000, #column-id-1603185532002, #column-id-1603378650873, #column-id-1603378650875, #column-id-1603378650877, #column-id-1603378650879, #column-id-1603454146064, #column-id-1603524476119, #column-id-1603524476121, #column-id-1603524476123, #column-id-1603524476125, #column-id-1603528047594, #column-id-1603528047597, #column-id-1603528047601, #column-id-1607532488425, #column-id-1607532488427, #column-id-1607532488430, #column-id-1607532488433, #column-id-1607532488437, #column-id-1607532488439, #column-id-1607532488442, #column-id-1607532488445, #sppb-addon-1603524476610:hover, #sppb-addon-1603524476620:hover, #sppb-addon-1603525541640:hover {
  box-shadow: 0 0 0 0 #fff;
}

.sp-page-builder .page-content {
  #section-id-1595756312042, #section-id-1595773731858, #section-id-1595858740138, #section-id-1603378650872, #section-id-1603378650874, #section-id-1603524476120, #section-id-1603528047593, #section-id-1607532488424, #section-id-1607532488426, #section-id-1607532488436, #section-id-1607532488438, #uslugi1 {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

#sppb-addon-1595776894329, #sppb-addon-1595858740353, #sppb-addon-1602918408011, #sppb-addon-1603185531992, #sppb-addon-1603443630414, #sppb-addon-1603527931097, #sppb-addon-1603528047515, #sppb-addon-1603528047520, #sppb-addon-1603528047563, #sppb-addon-1603528047568, #sppb-addon-1603528047581, #sppb-addon-1607532488429, #sppb-addon-1607532488432, #sppb-addon-1607532488435, #sppb-addon-1607532488441, #sppb-addon-1607532488444, #sppb-addon-1607532488447, #sppb-addon-1625080884678, #sppb-addon-1625083433896 {
  box-shadow: 0 0 0 0 #fff;
  margin: 0 0 30px;
}

#sppb-addon-1603365285203 {
  .sppb-flipbox-back, .threeD-flip-back {
    color: #fff;
  }
}

#sppb-addon-1603365285208 {
  .sppb-flipbox-back, .threeD-flip-back {
    color: #fff;
  }
}

#sppb-addon-1603365853918 {
  .sppb-flipbox-back, .threeD-flip-back {
    color: #fff;
  }
}

#sppb-addon-1603378650876 {
  .sppb-flipbox-back, .threeD-flip-back {
    color: #fff;
  }
}

#sppb-addon-1603378650878 {
  .sppb-flipbox-back, .threeD-flip-back {
    color: #fff;
  }
}

#sppb-addon-1603378650880 {
  .sppb-flipbox-back, .threeD-flip-back {
    color: #fff;
  }
}

#sppb-addon-1603443630414 a, #sppb-addon-1603528690952 a {
  color: #fff;
}

#sppb-addon-1607532488428 {
  .sppb-flipbox-back, .threeD-flip-back {
    color: #fff;
  }
}

#sppb-addon-1607532488431 {
  .sppb-flipbox-back, .threeD-flip-back {
    color: #fff;
  }
}

#sppb-addon-1607532488434 {
  .sppb-flipbox-back, .threeD-flip-back {
    color: #fff;
  }
}

#sppb-addon-1607532488440 {
  .sppb-flipbox-back, .threeD-flip-back {
    color: #fff;
  }
}

#sppb-addon-1607532488443 {
  .sppb-flipbox-back, .threeD-flip-back {
    color: #fff;
  }
}

#sppb-addon-1607532488446 {
  .sppb-flipbox-back, .threeD-flip-back {
    color: #fff;
  }
}

.sppb-column--content {
  color: #fff;
}

#sppb-addon-1603443630414 {
  a {
    &:active, &:focus, &:hover {
      color: #f1d142;
    }
  }

  li a {
    border-radius: 3px;
    padding: 7px 17px;
    text-transform: none;
  }
}

#sppb-addon-1603528690952 li a {
  border-radius: 3px;
  padding: 7px 17px;
  text-transform: none;
}

#sppb-addon-1603443630414 {
  .sppb-responsive-bars, li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

#sppb-addon-1603528690952 .sppb-responsive-bars {
  background-color: rgba(0, 0, 0, 0.1);
}

#sppb-addon-1603443630414 li.sppb-active a, #sppb-addon-1603528690952 li.sppb-active a {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  color: #f7f04e;
}

#sppb-addon-1603443630414 {
  .sppb-responsive-bars.open {
    background-color: #22b8f0;
  }

  .sppb-responsive-bar {
    background-color: #000;
  }

  .sppb-responsive-bars.open .sppb-responsive-bar {
    background-color: #fff;
  }
}

#sppb-addon-1603528690952 {
  .sppb-responsive-bar, .sppb-responsive-bars.open .sppb-responsive-bar {
    background-color: #fff;
  }
}

#sppb-addon-1603185531994 {
  box-shadow: 0 0 0 0 #fff;
  color: #efda29;
  margin: 0 0 30px;
}

#sppb-addon-1603185562485 {
  box-shadow: 0 0 0 0 #fff;
  color: #efda29;
  margin: 0 0 30px;

  .sppb-addon-title {
    font-family: 'Roboto Slab',sans-serif;
    font-weight: 200;
  }

  h2.sppb-addon-title {
    margin: 0 0 30px;
    padding: 0;
    text-shadow: 1px 1px 0 #000;
  }
}

.sp-page-builder .page-content {
  #section-id-1602920507326, #section-id-1603185531990 {
    margin: 0;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
  }
}

#sppb-addon-1595861756388, #sppb-addon-1603705651744, #sppb-addon-1603705666917 {
  box-shadow: 0 0 0 0 #fff;
  color: #f5e455;
  margin: 0 0 30px;
}

#sppb-addon-1595861756388 a, #sppb-addon-1603705651744 a, #sppb-addon-1603705666917 a {
  color: #f5e455;
}

#sppb-addon-1595861756388 a {
  &:active, &:focus, &:hover {
    color: #e82828;
  }
}

#sppb-addon-1603705651744 a {
  &:active, &:focus, &:hover {
    color: #e82828;
  }
}

#sppb-addon-1603705666917 a {
  &:active, &:focus, &:hover {
    color: #e82828;
  }
}

#sppb-addon-1595861756388 h2.sppb-addon-title, #sppb-addon-1603705651744 h2.sppb-addon-title, #sppb-addon-1603705666917 h2.sppb-addon-title {
  margin: 0 0 30px;
  padding: 0;
  text-shadow: 0 1px 0 #fff;
}

#sppb-addon-1625080884678 .sppb-addon-content {
  margin-left: -120px;
  margin-top: 5px;
}

.sp-page-builder .page-content {
  #section-id-1602918408002, #section-id-1603185531999, #section-id-1603524476118 {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
  }
}

#sppb-addon-1602926758379 {
  border-radius: 20px;
  margin: 0 0 30px;
  padding: 80px 40px 40px;

  .sppb-addon-overlayer {
    background-color: rgba(24, 23, 23, 0.07);
  }
}

#sppb-addon-1603185532001 .sppb-addon-overlayer {
  background-color: rgba(24, 23, 23, 0.07);
}

#sppb-addon-1602926758379 > .sppb-addon, #sppb-addon-1603185532001 > .sppb-addon {
  position: relative;
}

#sppb-addon-1602918408004, #sppb-addon-1602918408005, #sppb-addon-1602918408006, #sppb-addon-1602918408007, #sppb-addon-1602918408008, #sppb-addon-1602927939362, #sppb-addon-1603185532003, #sppb-addon-1603185532004, #sppb-addon-1603185532005, #sppb-addon-1603185532006, #sppb-addon-1603185532007, #sppb-addon-1603185532008 {
  box-shadow: 0 0 0 0 #fff;
  color: #fff;
  margin: 0 0 10px;
}

#sppb-addon-1602918408004 .sppb-addon-title, #sppb-addon-1602918408005 .sppb-addon-title, #sppb-addon-1602918408006 .sppb-addon-title, #sppb-addon-1602918408007 .sppb-addon-title, #sppb-addon-1602918408008 .sppb-addon-title, #sppb-addon-1602927939362 .sppb-addon-title, #sppb-addon-1603524476445 .sppb-addon-title, #sppb-addon-1603524476615 .sppb-addon-title, #sppb-addon-1603524476625 .sppb-addon-title {
  font-weight: 300;
}

#sppb-addon-1602918408004 h3.sppb-addon-title, #sppb-addon-1602918408005 h3.sppb-addon-title, #sppb-addon-1602918408006 h3.sppb-addon-title, #sppb-addon-1602918408007 h3.sppb-addon-title, #sppb-addon-1602918408008 h3.sppb-addon-title, #sppb-addon-1602927939362 h3.sppb-addon-title, #sppb-addon-1603185532003 h3.sppb-addon-title, #sppb-addon-1603185532004 h3.sppb-addon-title, #sppb-addon-1603185532005 h3.sppb-addon-title, #sppb-addon-1603185532006 h3.sppb-addon-title, #sppb-addon-1603185532007 h3.sppb-addon-title, #sppb-addon-1603185532008 h3.sppb-addon-title {
  margin: 0 0 10px;
  padding: 0;
  text-shadow: 1px 0 0 #fff;
}

.sp-page-builder .page-content {
  #section-id-1603185531988 {
    padding: 50px 0 150px;
  }

  #section-id-1595776894324, #vyzvat1 {
    background-attachment: fixed;
    background-image: url(../img/anypics.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
  }
}

#sppb-addon-1603528690952 {
  box-shadow: 0 0 0 0 #fff;
  color: #fff;
  margin: 0 0 30px;

  li a:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .sppb-responsive-bars.open {
    background-color: #f0e222;
  }
}

#sppb-addon-1603185531994 {
  .sppb-addon-title {
    font-family: 'Roboto Slab',sans-serif;
    font-weight: 600;
  }

  h2.sppb-addon-title {
    margin: 0 0 30px;
    padding: 0;
    text-shadow: 0 0 0 #fff;
  }
}

.button-red-action {
  background-color: #e31e25;
  border: 1px solid #fff;
  color: #fff;
  display: block;
  text-align: center;
  top: 60%;
}

#sppb-addon-1603185532001 {
  border-radius: 20px;
  margin: 0 0 30px;
  padding: 40px;
}

#sppb-addon-1603185532003 .sppb-addon-title, #sppb-addon-1603185532004 .sppb-addon-title, #sppb-addon-1603185532005 .sppb-addon-title, #sppb-addon-1603185532006 .sppb-addon-title, #sppb-addon-1603185532007 .sppb-addon-title, #sppb-addon-1603185532008 .sppb-addon-title {
  font-weight: 600;
}

#sppb-addon-1603365285203, #sppb-addon-1603365285208, #sppb-addon-1603365853918 {
  box-shadow: 0 0 0 0 #fff;
  margin: 0 0px0px;
  padding: 10px;
}

#sppb-addon-1603365285203 {
  .sppb-flipbox-front, .threeD-flip-front {
    background-image: url(../img/zapusk2.jpg);
    color: #fff;
  }

  .sppb-flipbox-front.flip-box:before, .threeD-flip-front:before {
    background-color: rgba(10, 1, 1, 0.34);
  }
}

#sppb-addon-1603365285208 {
  .sppb-flipbox-front.flip-box:before, .threeD-flip-front:before {
    background-color: rgba(10, 1, 1, 0.34);
  }
}

#sppb-addon-1603365853918 {
  .sppb-flipbox-front.flip-box:before, .threeD-flip-front:before {
    background-color: rgba(10, 1, 1, 0.34);
  }
}

#sppb-addon-1603378650876 {
  .sppb-flipbox-front.flip-box:before, .threeD-flip-front:before {
    background-color: rgba(10, 1, 1, 0.34);
  }
}

#sppb-addon-1603378650878 {
  .sppb-flipbox-front.flip-box:before, .threeD-flip-front:before {
    background-color: rgba(10, 1, 1, 0.34);
  }
}

#sppb-addon-1603378650880 {
  .sppb-flipbox-front.flip-box:before, .threeD-flip-front:before {
    background-color: rgba(10, 1, 1, 0.34);
  }
}

#sppb-addon-1607532488428 {
  .sppb-flipbox-front.flip-box:before, .threeD-flip-front:before {
    background-color: rgba(10, 1, 1, 0.34);
  }
}

#sppb-addon-1607532488431 {
  .sppb-flipbox-front.flip-box:before, .threeD-flip-front:before {
    background-color: rgba(10, 1, 1, 0.34);
  }
}

#sppb-addon-1607532488434 {
  .sppb-flipbox-front.flip-box:before, .threeD-flip-front:before {
    background-color: rgba(10, 1, 1, 0.34);
  }
}

#sppb-addon-1607532488440 {
  .sppb-flipbox-front.flip-box:before, .threeD-flip-front:before {
    background-color: rgba(10, 1, 1, 0.34);
  }
}

#sppb-addon-1607532488443 {
  .sppb-flipbox-front.flip-box:before, .threeD-flip-front:before {
    background-color: rgba(10, 1, 1, 0.34);
  }
}

#sppb-addon-1607532488446 {
  .sppb-flipbox-front.flip-box:before, .threeD-flip-front:before {
    background-color: rgba(10, 1, 1, 0.34);
  }
}

#sppb-addon-1603365285203 {
  .sppb-flipbox-back.flip-box:before, .threeD-flip-back:before {
    background-color: #2e3b3e;
  }
}

#sppb-addon-1603365285208 {
  .sppb-flipbox-back.flip-box:before, .threeD-flip-back:before {
    background-color: #2e3b3e;
  }
}

#sppb-addon-1603365853918 {
  .sppb-flipbox-back.flip-box:before, .threeD-flip-back:before {
    background-color: #2e3b3e;
  }
}

#sppb-addon-1603378650876 {
  .sppb-flipbox-back.flip-box:before, .threeD-flip-back:before {
    background-color: #2e3b3e;
  }
}

#sppb-addon-1603378650878 {
  .sppb-flipbox-back.flip-box:before, .threeD-flip-back:before {
    background-color: #2e3b3e;
  }
}

#sppb-addon-1603378650880 {
  .sppb-flipbox-back.flip-box:before, .threeD-flip-back:before {
    background-color: #2e3b3e;
  }
}

#sppb-addon-1607532488428 {
  .sppb-flipbox-back.flip-box:before, .threeD-flip-back:before {
    background-color: #2e3b3e;
  }
}

#sppb-addon-1607532488431 {
  .sppb-flipbox-back.flip-box:before, .threeD-flip-back:before {
    background-color: #2e3b3e;
  }
}

#sppb-addon-1607532488434 {
  .sppb-flipbox-back.flip-box:before, .threeD-flip-back:before {
    background-color: #2e3b3e;
  }
}

#sppb-addon-1607532488440 {
  .sppb-flipbox-back.flip-box:before, .threeD-flip-back:before {
    background-color: #2e3b3e;
  }
}

#sppb-addon-1607532488443 {
  .sppb-flipbox-back.flip-box:before, .threeD-flip-back:before {
    background-color: #2e3b3e;
  }
}

#sppb-addon-1607532488446 {
  .sppb-flipbox-back.flip-box:before, .threeD-flip-back:before {
    background-color: #2e3b3e;
  }
}

#sppb-addon-1603365285208 {
  .sppb-flipbox-front, .threeD-flip-front {
    background-image: url(../img/zamenakolesa1.jpg);
    color: #fff;
  }
}

#sppb-addon-1603365853918 {
  .sppb-flipbox-front, .threeD-flip-front {
    background-image: url(../img/diagnostika1.jpg);
    color: #fff;
  }
}

#sppb-addon-1603378650876, #sppb-addon-1603378650878, #sppb-addon-1603378650880, #sppb-addon-1607532488428, #sppb-addon-1607532488431, #sppb-addon-1607532488434, #sppb-addon-1607532488440, #sppb-addon-1607532488443, #sppb-addon-1607532488446 {
  box-shadow: 0 0 0 0 #fff;
  margin: 0 0 30px;
  padding: 10px;
}

#sppb-addon-1603378650876 {
  .sppb-flipbox-front, .threeD-flip-front {
    background-image: url(../img/vskrytie.jpg);
    color: #fff;
  }
}

#sppb-addon-1603378650878 {
  .sppb-flipbox-front, .threeD-flip-front {
    background-image: url(../img/podvoztopliva.jpg);
    color: #fff;
  }
}

#sppb-addon-1603378650880 {
  .sppb-flipbox-front, .threeD-flip-front {
    background-image: url(../img/remontavto.jpg);
    color: #fff;
  }
}

#sppb-addon-1607532488428 {
  .sppb-flipbox-front, .threeD-flip-front {
    background-image: url(../img/akb1.jpg);
    color: #fff;
  }
}

#sppb-addon-1607532488431 {
  .sppb-flipbox-front, .threeD-flip-front {
    background-image: url(../img/signal.jpg);
    color: #fff;
  }
}

#sppb-addon-1607532488434 {
  .sppb-flipbox-front, .threeD-flip-front {
    background-image: url(../img/otogrev.jpg);
    color: #fff;
  }
}

#sppb-addon-1607532488440 {
  .sppb-flipbox-front, .threeD-flip-front {
    background-image: url(../img/sekretki.jpg);
    color: #fff;
  }
}

#sppb-addon-1607532488443 {
  .sppb-flipbox-front, .threeD-flip-front {
    background-image: url(../img/zamok1.jpg);
    color: #fff;
  }
}

#sppb-addon-1607532488446 {
  .sppb-flipbox-front, .threeD-flip-front {
    background-image: url(../img/kluchi.jpg);
    color: #fff;
  }
}

.sp-page-builder .page-content {
  #section-id-1595776894324 {
    padding: 100px 0 70px;

    > .sppb-row-overlay {
      background-color: rgba(10, 10, 10, 0.65);
    }
  }

  #pochemu1 {
    margin: 0;
    padding: 10px 0 50px;
  }
}

#sppb-addon-1595778156771, #sppb-addon-1603524476445, #sppb-addon-1603524476615, #sppb-addon-1603524476625 {
  box-shadow: 0 0 0 0 #fff;
  color: #b41017;
  margin: 0 0 30px;
}

#sppb-addon-1595778156771 {
  .sppb-addon-title {
    font-weight: 800;
  }

  h2.sppb-addon-title {
    margin: 0 0 30px;
    padding: 0;
    text-shadow: 2px 2px 1px #fff;
  }
}

#sppb-addon-1603524476445 h2.sppb-addon-title, #sppb-addon-1603524476615 h2.sppb-addon-title, #sppb-addon-1603524476625 h2.sppb-addon-title {
  margin: 0 0 30px;
  padding: 0;
  text-shadow: 2px 2px 1px #fff;
}

#sppb-addon-1603524476610, #sppb-addon-1603524476620, #sppb-addon-1603525541640 {
  box-shadow: 0 0 0 0 #fff;
  margin: 0 0 10px;
  transition: .3s;
}

#sppb-addon-1603524476610 .sppb-img-container, #sppb-addon-1603524476620 .sppb-img-container, #sppb-addon-1603525541640 .sppb-img-container {
  display: block;
}

#sppb-addon-1603524476610 .sppb-media {
  .pull-left, .pull-right {
    width: 50%;
  }
}

#sppb-addon-1603524476620 .sppb-media {
  .pull-left, .pull-right {
    width: 50%;
  }
}

#sppb-addon-1603525541640 .sppb-media {
  .pull-left, .pull-right {
    width: 50%;
  }
}

#sppb-addon-1603528047600 {
  box-shadow: 0 0 0 0 #fff;
  margin: 0 0px0px;
}

.sp-page-builder .page-content #vyzvat1 {
  padding: 100px 0;

  > .sppb-row-overlay {
    background-color: rgba(6, 6, 6, 0.61);
  }
}

#sppb-addon-1595858740137 {
  box-shadow: 0 0 0 0 #fff;
  color: #fff;
  margin: 0;

  .sppb-addon-title {
    font-size: 26px;
    font-weight: 800;
    line-height: 26px;
  }

  h2.sppb-addon-title {
    margin: 0 0 30px;
    padding: 0;
    text-shadow: 0 1px 0 #000;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #section-id-1595755039101 .sppb-shape-container.sppb-bottom-shape > svg {
    max-width: 100%;
    width: 100%;
  }

  #section-id-1595776894324 .sppb-shape-container {
    &.sppb-bottom-shape > svg, &.sppb-top-shape > svg {
      max-width: 100%;
      width: 100%;
    }
  }

  #section-id-1603185531988 .sppb-shape-container.sppb-bottom-shape > svg, #vyzvat1 .sppb-shape-container.sppb-top-shape > svg {
    max-width: 100%;
    width: 100%;
  }

  #sppb-addon-1595776894329, #sppb-addon-1595778156771, #sppb-addon-1595858740137, #sppb-addon-1595858740353, #sppb-addon-1595861756388, #sppb-addon-1602918408004, #sppb-addon-1602918408005, #sppb-addon-1602918408006, #sppb-addon-1602918408007, #sppb-addon-1602918408008, #sppb-addon-1602918408011, #sppb-addon-1602926758379, #sppb-addon-1602927939362, #sppb-addon-1603185531992, #sppb-addon-1603185531994, #sppb-addon-1603185532001, #sppb-addon-1603185532003, #sppb-addon-1603185532004, #sppb-addon-1603185532005, #sppb-addon-1603185532006, #sppb-addon-1603185532007, #sppb-addon-1603185532008, #sppb-addon-1603185562485, #sppb-addon-1603365285203, #sppb-addon-1603365285208, #sppb-addon-1603365853918, #sppb-addon-1603378650876, #sppb-addon-1603378650878, #sppb-addon-1603378650880, #sppb-addon-1603443630414, #sppb-addon-1603524476445, #sppb-addon-1603524476610, #sppb-addon-1603524476615, #sppb-addon-1603524476620, #sppb-addon-1603524476625, #sppb-addon-1603525541640, #sppb-addon-1603527931097, #sppb-addon-1603528047515, #sppb-addon-1603528047520, #sppb-addon-1603528047563, #sppb-addon-1603528047568, #sppb-addon-1603528047581, #sppb-addon-1603528047600, #sppb-addon-1603528690952, #sppb-addon-1603705651744, #sppb-addon-1603705666917, #sppb-addon-1607532488428, #sppb-addon-1607532488429, #sppb-addon-1607532488431, #sppb-addon-1607532488432, #sppb-addon-1607532488434, #sppb-addon-1607532488435, #sppb-addon-1607532488440, #sppb-addon-1607532488441, #sppb-addon-1607532488443, #sppb-addon-1607532488444, #sppb-addon-1607532488446, #sppb-addon-1607532488447, #sppb-addon-1625080884678, #sppb-addon-1625083433896 {
    margin: 0 0 20px;
  }

  #sppb-addon-1603443630414 li a, #sppb-addon-1603528690952 li a {
    padding: 7px 17px;
  }

  #sppb-addon-1603524476610 .sppb-media .sppb-media-body, #sppb-addon-1603524476620 .sppb-media .sppb-media-body, #sppb-addon-1603525541640 .sppb-media .sppb-media-body {
    width: auto;
  }
}

@media (max-width: 767px) {
  #section-id-1595755039101 .sppb-shape-container.sppb-bottom-shape > svg {
    max-width: 100%;
    width: 100%;
  }

  #section-id-1595776894324 .sppb-shape-container {
    &.sppb-bottom-shape > svg, &.sppb-top-shape > svg {
      max-width: 100%;
      width: 100%;
    }
  }

  #section-id-1603185531988 .sppb-shape-container.sppb-bottom-shape > svg, #vyzvat1 .sppb-shape-container.sppb-top-shape > svg {
    max-width: 100%;
    width: 100%;
  }

  #sppb-addon-1595776894329, #sppb-addon-1595778156771, #sppb-addon-1595858740137, #sppb-addon-1595858740353, #sppb-addon-1595861756388, #sppb-addon-1602918408004, #sppb-addon-1602918408005, #sppb-addon-1602918408006, #sppb-addon-1602918408007, #sppb-addon-1602918408008, #sppb-addon-1602918408011, #sppb-addon-1602926758379, #sppb-addon-1602927939362, #sppb-addon-1603185531992, #sppb-addon-1603185532001, #sppb-addon-1603185532004, #sppb-addon-1603185532005, #sppb-addon-1603185532006, #sppb-addon-1603185532007, #sppb-addon-1603185532008, #sppb-addon-1603185562485, #sppb-addon-1603365285203, #sppb-addon-1603365285208, #sppb-addon-1603365853918, #sppb-addon-1603378650876, #sppb-addon-1603378650878, #sppb-addon-1603378650880, #sppb-addon-1603443630414, #sppb-addon-1603524476445, #sppb-addon-1603524476610, #sppb-addon-1603524476615, #sppb-addon-1603524476620, #sppb-addon-1603524476625, #sppb-addon-1603525541640, #sppb-addon-1603527931097, #sppb-addon-1603528047515, #sppb-addon-1603528047520, #sppb-addon-1603528047563, #sppb-addon-1603528047568, #sppb-addon-1603528047581, #sppb-addon-1603528047600, #sppb-addon-1603528690952, #sppb-addon-1603705651744, #sppb-addon-1603705666917, #sppb-addon-1607532488428, #sppb-addon-1607532488429, #sppb-addon-1607532488431, #sppb-addon-1607532488432, #sppb-addon-1607532488434, #sppb-addon-1607532488435, #sppb-addon-1607532488440, #sppb-addon-1607532488441, #sppb-addon-1607532488443, #sppb-addon-1607532488444, #sppb-addon-1607532488446, #sppb-addon-1607532488447, #sppb-addon-1625080884678, #sppb-addon-1625083433896 {
    margin: 0 0 10px;
  }

  #sppb-addon-1603443630414 li a, #sppb-addon-1603528690952 li a {
    padding: 7px 17px;
  }

  .sp-page-builder .page-content {
    #section-id-1603185531988 {
      padding: 10px 0 50px;
    }

    #section-id-1603185531990 {
      margin-bottom: 0;
      margin-top: 0;
      padding: 0;
    }
  }

  #sppb-addon-1603185531994 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }

  .sp-page-builder .page-content #section-id-1603185531999 {
    padding: 0;
  }

  #sppb-addon-1603185532003 {
    margin: 20px 0 10px;
  }

  #sppb-addon-1603524476610 .sppb-media .sppb-media-body, #sppb-addon-1603524476620 .sppb-media .sppb-media-body, #sppb-addon-1603525541640 .sppb-media .sppb-media-body {
    width: auto;
  }
}

h1 {
  font-family: 'Roboto Slab',sans-serif;
}

.logo-image {
  height: 36px;
}

input.input_button {
  border: 1px solid #fff;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
}
