// Full main.css
@import "fonts";

// jcemediabox start
// jcemediabox fonts start
@font-face {
  font-family: mediabox;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/mediabox.woff?swjl0l) format("woff"), url(../fonts/mediabox.svg?swjl0l#mediabox) format("svg");
}
// jcemediabox fonts nd
#sp-page-builder {
  position: relative;
}
#sp-page-builder .page-content .sppb-section,
#sp-page-builder .sppb-section {
  z-index: 1;
  position: relative;
  will-change: top;
}
#sp-page-builder .page-content .sppb-section:first-child {
  margin-top: 0;
}
@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .sppb-img-responsive {
    width: 100%;
  }
}
.sppb-addon-single-image::after,
.sppb-addon-single-image::before {
  content: "";
  display: table;
}
.sppb-addon-single-image-container {
  display: inline-block;
  position: relative;
}
.sppb-addon-single-image-container:hover .sppb-addon-image-overlay {
  opacity: 1;
}
.sppb-addon-single-image-container:hover .sppb-addon-image-overlay-icon {
  display: block;
  -webkit-animation: 0.2s zoomIn;
  animation: 0.2s zoomIn;
}
*,
:after,
:before {
  box-sizing: border-box;
}
button,
input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.sppb-img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.sppb-text-center {
  text-align: center;
}
.sppb-link-list-wrap.sppb-link-list-nav ul li,
.sppb-text-center .sppb-img-responsive {
  display: inline-block;
}
@media (min-width: 576px) {
  body.helix-ultimate .sppb-row-container {
    max-width: 540px;
  }
}
.sppb-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.sppb-no-gutter {
  margin-right: 0;
  margin-left: 0;
}
.sppb-no-gutter > [class*="sppb-col-"] {
  padding-right: 0;
  padding-left: 0;
}
.sppb-col-md-1,
.sppb-col-md-12,
.sppb-col-md-2,
.sppb-col-md-3,
.sppb-col-md-4,
.sppb-col-md-6,
.sppb-col-md-9 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 992px) {
  .sppb-col-md-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .sppb-col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .sppb-col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .sppb-col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .sppb-col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .sppb-col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .sppb-col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.sppb-column,
.sppb-column-addons {
  position: relative;
  z-index: 1;
}
.sppb-column-addons {
  width: 100%;
}
.sppb-column {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.sppb-row-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center center;
  background-repeat: repeat;
  z-index: 1;
}
.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
@media (min-width: 1200px) {
  .sppb-hidden-lg {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .sppb-hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .sppb-hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .sppb-hidden-md {
    display: none !important;
  }
}
.threeD-content-wrap {
  -webkit-perspective: 2000;
  -ms-perspective: 2000;
  perspective: 2000;
  -ms-transform: perspective(2000px);
  -moz-transform: perspective(2000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  display: inline-block;
  width: 100%;
}
.threeD-flip-back,
.threeD-flip-front,
.threeD-item {
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.threeD-item {
  transition: 0.5s cubic-bezier(0.5, 0.3, 0.3, 1);
}
.threeD-flip-back,
.threeD-flip-front {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
.threeD-flip-back {
  -webkit-transform: rotate3d(0, 45, 0, 180deg);
  transform: rotate3d(0, 45, 0, 180deg);
}
.threeD-flip-front {
  z-index: 2;
}
.threeD-flip-back .threeD-content-inner,
.threeD-flip-front .threeD-content-inner {
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateZ(60px);
  -webkit-transform: translateY(-50%) translateZ(60px);
  -ms-transform: translateY(-50%) translateZ(60px);
}
.threeD-flip-back:before,
.threeD-flip-front:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.threeD-item {
  height: 280px;
}
div.contactus-form div.joomly-contactus-div {
  margin-bottom: 15px;
}
.sppb-align-center {
  align-items: center !important;
}
.sppb-section-content-center {
  display: flex;
  flex-wrap: wrap;
}
.sppb-section-content-center .sppb-align-center {
  flex: 1 0 100%;
}
.sppb-shape-container {
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  line-height: 0;
  z-index: 1;
}
.sppb-shape-container.sppb-top-shape {
  top: -1px;
}
.sppb-shape-container.sppb-bottom-shape {
  bottom: -1px;
}
.sppb-shape-container svg {
  display: block;
  width: 100%;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.sppb-shape-container.sppb-bottom-shape svg {
  -webkit-transform: rotateX(180deg) translateX(-50%);
  transform: rotateX(180deg) translateX(-50%);
}
.com-sppagebuilder:not(.layout-edit) .sppb-addon-optin-forms.optintype-popup {
  display: none !important;
}
.com-sppagebuilder:not(.layout-edit)
.sppb-addon-optin-forms.optintype-popup
.sppb-optin-forms-close {
  position: absolute;
  top: -25px;
  right: -5px;
  z-index: 999;
  cursor: pointer;
  font-size: 20px;
}
.com-sppagebuilder:not(.layout-edit)
.mfp-content
.sppb-addon-optin-forms.optintype-popup {
  display: block !important;
}
.sppb-addon-overlayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.sppb-link-list-wrap ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sppb-link-list-wrap ul li a {
  display: inline-block;
  color: #000;
}
.sppb-nav-align-right {
  text-align: right;
}
.sppb-nav-align-center {
  text-align: center;
}
.sppb-responsive-bars {
  display: none;
  cursor: pointer;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  transition: 0.3s;
}
.sppb-responsive-bar {
  display: block;
  height: 3px;
  width: 35px;
  background-color: #000;
  transition: 0.3s;
}
.sppb-responsive-bar + .sppb-responsive-bar {
  margin-top: 7px;
}
@media (max-width: 991px) {
  .sppb-responsive-bars {
    display: inline-block;
  }
  .sppb-link-list-responsive.sppb-link-list-wrap ul {
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
  }
  .sppb-link-list-responsive.sppb-link-list-wrap ul li a,
  .sppb-link-list-responsive.sppb-link-list-wrap.sppb-link-list-nav ul li {
    display: block;
  }
  .sppb-link-list-responsive.sppb-nav-align-right ul {
    text-align: left;
  }
}
form.reg_form {
  margin-bottom: 0;
}
.sppb-row-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  body.helix-ultimate .sppb-row-container {
    max-width: 720px;
  }
  .sppb-row-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  body.helix-ultimate .sppb-row-container {
    max-width: 960px;
  }
  .sppb-row-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  body.helix-ultimate .sppb-row-container {
    max-width: 1140px;
  }
  .sppb-row-container {
    width: 1170px;
  }
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
div.contactus-form {
  box-sizing: border-box !important;
  max-width: 370px;
  padding: 0;
}
input[type="text"].contactus-fields {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-sizing: border-box !important;
  color: #555;
  display: table-cell;
  font-size: 13px;
  height: 40px;
  line-height: 18px;
  margin: 0;
  padding: 4px 6px;
  vertical-align: middle;
  width: 100%;
}
.contactus-center {
  margin-left: auto;
  margin-right: auto;
}
div.contactus-form button.contactus-button {
  background-image: none;
  border: 0;
  border-radius: 0;
  box-sizing: border-box !important;
  color: #fff;
  cursor: pointer;
  display: block;
  font-weight: 700;
  height: auto;
  letter-spacing: 1px;
  max-width: 100%;
  padding: 14px 18px;
  text-shadow: none;
  text-transform: uppercase;
  width: auto;
}
div.contactus-form button.contactus-button:hover {
  opacity: 0.8;
  outline: 0;
}
a:active,
a:focus,
a:hover {
  text-decoration: none;
  color: #f2e746;
}
.body-innerwrapper,
.offcanvas-init {
  overflow-x: hidden;
}
img {
  vertical-align: middle;
  display: block;
  height: auto;
  max-width: 100%;
}
#sp-main-body {
  padding: 100px 0;
}
.com-sppagebuilder #sp-main-body {
  padding: 0;
}
#sp-footer {
  font-size: 14px;
  padding: 0;
  background: #171717;
  color: #fff;
}
#sp-footer .container-inner {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 30px 0;
}
.sp-scroll-up {
  background: #333;
  border-radius: 3px;
  bottom: 30px;
  color: #fff;
  display: none;
  font-size: 16px;
  height: 36px;
  line-height: 36px;
  position: fixed;
  right: 30px;
  text-align: center;
  width: 36px;
  z-index: 1000;
}
.sp-scroll-up:active,
.sp-scroll-up:focus,
.sp-scroll-up:hover {
  background: #444;
  color: #fff;
}
input[type="text"]:not(.form-control) {
  background-clip: padding-box;
  background-color: #fff;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  color: #495057;
  display: block;
  font-size: 1rem;
  line-height: 1.25;
  padding: 0.5rem 0.75rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
}
input[type="text"]:not(.form-control):focus {
  background-color: #fff;
  border-color: #80bdff;
  color: #495057;
  outline: 0;
}
body.ltr.offcanvs-position-right .body-wrapper {
  right: 0;
}
.body-wrapper,
.offcanvas-init {
  position: relative;
}
.body-wrapper {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: 0.6s;
}
body {
  background-color: #fff;
  color: #252525;
  font-family: "Roboto Slab", sans-serif;
}
.sp-page-builder .page-content #section-id-1595755039101,
.sp-page-builder .page-content #section-id-1603185531988 {
  background-attachment: scroll;
  background-image: url(/wp-content/themes/wp-towtruck/img/hero-header.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 0;
  margin-top: 0;
}
#sppb-addon-1602926758379,
#sppb-addon-1603185532001 {
  background-attachment: inherit;
  background-image: url(/wp-content/themes/wp-towtruck/img/yellow-string.jpg);
  background-size: contain;
  box-shadow: 8px 10px 13px 0 #fff;
  overflow: hidden;
  position: relative;
}
.button-red-action {
  background-image: none;
  box-sizing: border-box !important;
  height: auto;
  letter-spacing: 1px;
  padding: 14px 18px;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  width: 100%;
}
#section-id-1595755039101 .sppb-shape-container.sppb-bottom-shape > svg,
#section-id-1603185531988 .sppb-shape-container.sppb-bottom-shape > svg,
#vyzvat1 .sppb-shape-container.sppb-top-shape > svg {
  max-width: 100%;
  width: 100%;
}
#section-id-1595776894324 .sppb-shape-container.sppb-bottom-shape > svg,
#section-id-1595776894324 .sppb-shape-container.sppb-top-shape > svg {
  max-width: 120%;
  width: 120%;
}
.sp-page-builder .page-content #section-id-1595755039101 {
  padding: 10px 0 150px;
}
.sp-page-builder .page-content #section-id-1595755039101 > .sppb-row-overlay,
.sp-page-builder .page-content #section-id-1603185531988 > .sppb-row-overlay {
  background-color: rgba(16, 16, 16, 0.38);
}
#column-id-1595755039100,
#column-id-1595756312043,
#column-id-1595756312707,
#column-id-1595773731859,
#column-id-1595776894323,
#column-id-1595776894338,
#column-id-1595858740136,
#column-id-1595858740139,
#column-id-1595858740141,
#column-id-1602918408003,
#column-id-1602918408009,
#column-id-1602918408045,
#column-id-1602920507327,
#column-id-1602920507328,
#column-id-1603185531989,
#column-id-1603185531991,
#column-id-1603185532000,
#column-id-1603185532002,
#column-id-1603528047594,
#column-id-1603528047597,
#column-id-1603528047601 {
  box-shadow: 0 0 0 0 #fff;
}
.sp-page-builder .page-content #section-id-1595756312042,
.sp-page-builder .page-content #section-id-1595773731858,
.sp-page-builder .page-content #section-id-1595858740138,
.sp-page-builder .page-content #section-id-1603528047593,
.sp-page-builder .page-content #uslugi1 {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}
#uslugi1 .services-container {
  padding-top: 20px;
}
#sppb-addon-1595776894329,
#sppb-addon-1602918408011,
#sppb-addon-1603185531992,
#sppb-addon-1603443630414 {
  box-shadow: 0 0 0 0 #fff;
  margin: 0 0 30px;
}
#sppb-addon-1603365285203 .threeD-flip-back,
#sppb-addon-1603443630414 a,
#sppb-addon-1603528690952 a,
.sppb-column--content {
  color: #fff;
}
#sppb-addon-1603443630414 a:active,
#sppb-addon-1603443630414 a:focus,
#sppb-addon-1603443630414 a:hover {
  color: #f1d142;
}
#sppb-addon-1603443630414 li a,
#sppb-addon-1603528690952 li a {
  border-radius: 3px;
  padding: 7px 17px;
  text-transform: none;
}
#sppb-addon-1603443630414 .sppb-responsive-bars,
#sppb-addon-1603443630414 li a:hover,
#sppb-addon-1603528690952 .sppb-responsive-bars {
  background-color: rgba(0, 0, 0, 0.1);
}
#sppb-addon-1603443630414 li.sppb-active a {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  color: #f7f04e;
}
#sppb-addon-1603443630414 .sppb-responsive-bar {
  background-color: #000;
}
#sppb-addon-1603528690952 .sppb-responsive-bar {
  background-color: #fff;
}
#sppb-addon-1603185562485 {
  box-shadow: 0 0 0 0 #fff;
  color: #efda29;
  margin: 0 0 30px;
}
#sppb-addon-1603185562485 .sppb-addon-title {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 200;
  margin: 0 0 30px;
  padding: 0;
  text-shadow: 1px 1px 0 #000;
}
.sp-page-builder .page-content #section-id-1602920507326,
.sp-page-builder .page-content #section-id-1603185531990 {
  margin: 0;
  padding-bottom: 30px;
  padding-left: 0;
  padding-right: 0;
}
#sppb-addon-1595861756388,
#sppb-addon-1603705651744,
#sppb-addon-1603705666917 {
  box-shadow: 0 0 0 0 #fff;
  color: #f5e455;
  margin: 0 0 30px;
}
#sppb-addon-1595861756388 a,
#sppb-addon-1603705651744 a,
#sppb-addon-1603705666917 a {
  color: #f5e455;
}
#sppb-addon-1595861756388 a:active,
#sppb-addon-1595861756388 a:focus,
#sppb-addon-1595861756388 a:hover,
#sppb-addon-1603705651744 a:active,
#sppb-addon-1603705651744 a:focus,
#sppb-addon-1603705651744 a:hover,
#sppb-addon-1603705666917 a:active,
#sppb-addon-1603705666917 a:focus,
#sppb-addon-1603705666917 a:hover {
  color: #e82828;
}
#sppb-addon-1595861756388 .sppb-addon-title,
#sppb-addon-1603705651744 .sppb-addon-title,
#sppb-addon-1603705666917 .sppb-addon-title {
  margin: 0 0 30px;
  padding: 0;
  text-shadow: 0 1px 0 #fff;
}
.sp-page-builder .page-content #section-id-1602918408002,
.sp-page-builder .page-content #section-id-1603185531999 {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 30px;
}
#sppb-addon-1602926758379 {
  border-radius: 20px;
  margin: 0 0 30px;
  padding: 80px 40px 40px;
}
#sppb-addon-1602926758379 .sppb-addon-overlayer,
#sppb-addon-1603185532001 .sppb-addon-overlayer {
  background-color: rgba(24, 23, 23, 0.07);
}
#sppb-addon-1602926758379 > .sppb-addon,
#sppb-addon-1603185532001 > .sppb-addon {
  position: relative;
}
#sppb-addon-1602918408004,
#sppb-addon-1602918408005,
#sppb-addon-1602918408006,
#sppb-addon-1602918408007,
#sppb-addon-1602918408008,
#sppb-addon-1602927939362,
#sppb-addon-1603185532003,
#sppb-addon-1603185532004,
#sppb-addon-1603185532005,
#sppb-addon-1603185532006,
#sppb-addon-1603185532007,
#sppb-addon-1603185532008,
#sppb-addon-1603528690952 {
  box-shadow: 0 0 0 0 #fff;
  color: #fff;
  margin: 0 0 10px;
}
#sppb-addon-1603528690952 {
  margin: 0 0 30px;
}
#sppb-addon-1602918408004 .sppb-addon-title,
#sppb-addon-1602918408005 .sppb-addon-title,
#sppb-addon-1602918408006 .sppb-addon-title,
#sppb-addon-1602918408007 .sppb-addon-title,
#sppb-addon-1602918408008 .sppb-addon-title,
#sppb-addon-1602927939362 .sppb-addon-title {
  font-weight: 300;
}
#sppb-addon-1602918408004 h3.sppb-addon-title,
#sppb-addon-1602918408005 h3.sppb-addon-title,
#sppb-addon-1602918408006 h3.sppb-addon-title,
#sppb-addon-1602918408007 h3.sppb-addon-title,
#sppb-addon-1602918408008 h3.sppb-addon-title,
#sppb-addon-1602927939362 h3.sppb-addon-title {
  margin: 0 0 10px;
  padding: 0;
  text-shadow: 1px 0 0 #fff;
}
.sp-page-builder .page-content #section-id-1603185531988 {
  padding: 50px 0 150px;
}
.sp-page-builder .page-content #section-id-1595776894324,
.sp-page-builder .page-content #vyzvat1 {
  background-attachment: fixed;
  background-image: url(/wp-content/themes/wp-towtruck/img/dark-background.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}
#sppb-addon-1603528690952 li a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.whyweare-section {
  padding-bottom: 20px;
}
.whyweare-section .sppb-col-md-2 {
  text-align: center;
}
.whyweare-section .sppb-col-md-2 img {
  width: 80%;
  display: block;
  margin: 0 auto 20px;
}
.button-red-action {
  background-color: #e31e25;
  border: 1px solid #fff;
  color: #fff;
  display: block;
  text-align: center;
  top: 60%;
}
#sppb-addon-1603185532001 {
  border-radius: 20px;
  margin: 0 0 30px;
  padding: 40px;
}
#sppb-addon-1603185532003 .sppb-addon-title,
#sppb-addon-1603185532004 .sppb-addon-title,
#sppb-addon-1603185532005 .sppb-addon-title,
#sppb-addon-1603185532006 .sppb-addon-title,
#sppb-addon-1603185532007 .sppb-addon-title,
#sppb-addon-1603185532008 .sppb-addon-title {
  font-weight: 600;
}
#sppb-addon-1603365285203 {
  box-shadow: 0 0 0 0 #fff;
  margin: 0;
  padding: 10px;
}
.inner-content--title {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}
.services-content--title {
  padding: 40px 0 20px;
}
#sppb-addon-1603365285203 .threeD-flip-front {
  color: #fff;
}
#sppb-addon-1603365285203 .threeD-flip-front:before {
  background-color: rgba(10, 1, 1, 0.34);
}
#sppb-addon-1603365285203 .threeD-flip-back:before {
  background-color: #2e3b3e;
}
.sp-page-builder .page-content #section-id-1595776894324 {
  padding: 100px 0 70px;
}
.sp-page-builder .page-content #section-id-1595776894324 > .sppb-row-overlay {
  background-color: rgba(10, 10, 10, 0.65);
}
.sp-page-builder .page-content #pochemu1 {
  margin: 0;
  padding: 20px 0;
}
#sppb-addon-1595778156771 {
  box-shadow: 0 0 0 0 #fff;
  color: #b41017;
  margin: 0;
}
#sppb-addon-1595778156771 .sppb-addon-title {
  font-weight: 800;
  margin: 0 0 10px;
  padding: 0;
  text-shadow: 2px 2px 1px #fff;
}
.sp-page-builder .page-content #vyzvat1 {
  padding: 100px 0;
}
.sp-page-builder .page-content #vyzvat1 > .sppb-row-overlay {
  background-color: rgba(6, 6, 6, 0.61);
}
@media (min-width: 768px) and (max-width: 991px) {
  #section-id-1595755039101 .sppb-shape-container.sppb-bottom-shape > svg,
  #section-id-1595776894324 .sppb-shape-container.sppb-bottom-shape > svg,
  #section-id-1595776894324 .sppb-shape-container.sppb-top-shape > svg,
  #section-id-1603185531988 .sppb-shape-container.sppb-bottom-shape > svg,
  #vyzvat1 .sppb-shape-container.sppb-top-shape > svg {
    max-width: 100%;
    width: 100%;
  }
  #sppb-addon-1595776894329,
  #sppb-addon-1595778156771,
  #sppb-addon-1595861756388,
  #sppb-addon-1602918408004,
  #sppb-addon-1602918408005,
  #sppb-addon-1602918408006,
  #sppb-addon-1602918408007,
  #sppb-addon-1602918408008,
  #sppb-addon-1602918408011,
  #sppb-addon-1602926758379,
  #sppb-addon-1602927939362,
  #sppb-addon-1603185531992,
  #sppb-addon-1603185532001,
  #sppb-addon-1603185532003,
  #sppb-addon-1603185532004,
  #sppb-addon-1603185532005,
  #sppb-addon-1603185532006,
  #sppb-addon-1603185532007,
  #sppb-addon-1603185532008,
  #sppb-addon-1603185562485,
  #sppb-addon-1603365285203,
  #sppb-addon-1603443630414,
  #sppb-addon-1603528690952,
  #sppb-addon-1603705651744,
  #sppb-addon-1603705666917 {
    margin: 0 0 20px;
  }
  #sppb-addon-1603443630414 li a,
  #sppb-addon-1603528690952 li a {
    padding: 7px 17px;
  }
}
@media (max-width: 767px) {
  #section-id-1595755039101 .sppb-shape-container.sppb-bottom-shape > svg,
  #section-id-1595776894324 .sppb-shape-container.sppb-bottom-shape > svg,
  #section-id-1595776894324 .sppb-shape-container.sppb-top-shape > svg,
  #section-id-1603185531988 .sppb-shape-container.sppb-bottom-shape > svg,
  #vyzvat1 .sppb-shape-container.sppb-top-shape > svg {
    max-width: 100%;
    width: 100%;
  }
  #sppb-addon-1595776894329,
  #sppb-addon-1595778156771,
  #sppb-addon-1595861756388,
  #sppb-addon-1602918408004,
  #sppb-addon-1602918408005,
  #sppb-addon-1602918408006,
  #sppb-addon-1602918408007,
  #sppb-addon-1602918408008,
  #sppb-addon-1602918408011,
  #sppb-addon-1602926758379,
  #sppb-addon-1602927939362,
  #sppb-addon-1603185531992,
  #sppb-addon-1603185532001,
  #sppb-addon-1603185532004,
  #sppb-addon-1603185532005,
  #sppb-addon-1603185532006,
  #sppb-addon-1603185532007,
  #sppb-addon-1603185532008,
  #sppb-addon-1603185562485,
  #sppb-addon-1603365285203,
  #sppb-addon-1603443630414,
  #sppb-addon-1603528690952,
  #sppb-addon-1603705651744,
  #sppb-addon-1603705666917 {
    margin: 0 0 10px;
  }
  #sppb-addon-1603443630414 li a,
  #sppb-addon-1603528690952 li a {
    padding: 7px 17px;
  }
  .sp-page-builder .page-content #section-id-1603185531988 {
    padding: 10px 0 50px;
  }
  .sp-page-builder .page-content #section-id-1603185531990 {
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
  }
  .sp-page-builder .page-content #section-id-1603185531999 {
    padding: 0;
  }
  #sppb-addon-1603185532003 {
    margin: 20px 0 10px;
  }
}
